<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" href="stylesheets/giza-lab.css">
    <script>
      if (document.documentElement) {
        document
          .documentElement
          .classList
          .add('js');
      }
    </script>
  </head>
  <body class="site">
    <header class="app-header" data-module="AppHeader">
      <div class="app-header__inner container container--centered">
        {% include 'shared/lab-header.html' %}
      </div>
    </header>
    <div class="app-main container container--centered">
      {% block body %}{% endblock %}
    </div>
    <footer class="app-footer">
      <div class="app-footer__inner container container--centered">
        {% include 'shared/lab-footer.html' %}
      </div>
    </footer>
    <script src="javascripts/giza-lab.js"></script>
  </body>
</html>
