$grid-gap: $spacer !default;
$grid-column-gap: $spacer !default;
$grid-row-gap: $spacer !default;

.o-grid {
    display: grid;
    grid-template-columns: repeat($grid-columns, 1fr);
}

.o-grid--gutters {
    grid-gap: $grid-gap;
}

.o-grid--gutters-horizontal {
    grid-column-gap: $grid-column-gap;
}

.o-grid--gutters-vertical {
    grid-row-gap: $grid-row-gap;
}

@for $i from 1 through $grid-columns {
    .o-grid > .o-grid-col-span-#{$i} {
        grid-column: span #{$i};
    }
}

@each $key, $value in $breakpoints {
    @include breakpoint($key) {
        @for $i from 1 through $grid-columns {
            .o-grid > .o-grid-col-span-#{$i}\@#{$key} {
                grid-column: span #{$i};
            }
        }
    }
}
