.code {
  margin-right: -$spacer;
  margin-bottom: $spacer * 2;
  margin-left: -$spacer;
  background-color: $gallery;

  pre {
    margin: 0;

    code {
      background-color: transparent;
    }
  }
}

@include md {
  .code {
    margin-right: 0;
    margin-left: 0;
  }
}
