$body-bg: $white !default;
$body-color: $black !default;

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-tap-highlight-color: rgba($black, 0);
  -webkit-text-size-adjust: 100%;
}

body {
  @include font-size-base;

  margin: 0;
  background-color: $body-bg;
  color: $body-color;
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  text-align: left;
}

main {
  display: block;
}

textarea {
  overflow: auto;
  resize: vertical;
}
