html {
  overflow-y: auto;
}

body {
  height: auto;
  margin: 0;
}

.app-example {
  padding: 2rem;

  > .card,
  > .container > .card {
    max-width: 18rem;
  }

  > .modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    display: block;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
