@charset 'utf-8';

// Dependencies
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700&display=swap');
@import 'vendor/prism-github';
@import 'vendor/prism-dark';

// Giza framework
// Loads local settings allowing overrides first
$color-bombay: #afb1b8;
$color-bonjour: #e5e0e1;
$color-azure-radiance: #0d7adf;
$color-gallery: #f0f0f0;
$color-woodsmoke: #0b0c0c;

// Dark theme colors
$color-wild-sand: #f5f4f4;
$color-tuatara: #201f1e;
$color-tuatara-medium: #252423;
$color-tuatara-light: #323130;

$font: sans-serif;
$font-loaded: 'Fira Sans', sans-serif;
$font-monospace: 'Inconsolata', 'Menlo', 'Consolas', 'Bitstream Vera Sans Mono',
  'Courier', monospace;

$body-text-color: $color-woodsmoke;

// Import Giza
@import 'giza';

.theme-dark {
  background-color: $color-tuatara-medium;
  color: $color-wild-sand;

  a {
    &:focus {
      color: $link-hover-color !important;
    }

    @include color-swap-on-hover(
      $link-color,
      $color-wild-sand,
      $link-trans-speed
    );
  }

  .app-header {
    background-color: $color-tuatara;
    color: $color-wild-sand;

    a {
      color: $color-light;
    }
  }

  .app-footer {
    background-color: $color-tuatara-light;
    color: $color-wild-sand;
  }

  .app-example {
    // border-color: $color-tuatara-light;
    background-color: $color-light;
  }

  .app-code {
    background-color: $color-tuatara-light;
  }

  .app-example__tab {
    background-color: $color-tuatara-light;
    color: $color-wild-sand;

    &:visited {
      color: $color-wild-sand;
    }
  }
}

.app-code {
  position: relative;
  margin-bottom: $spacer * 2;
  background-color: $color-gallery;

  pre {
    margin: 0;

    code {
      padding-top: ($spacer + $spacer / 2);
      background-color: transparent;
    }
  }
}

.app-copy-button {
  position: absolute;
  top: 0;
  right: 2px;
}

.app-example {
  position: relative;
  padding-top: ($spacer * 2);
  border: 2px solid $color-gallery;

  .grid .grid__cell,
  .flex-grid .flex-grid__cell {
    padding: $spacer;
    border: 1px solid $color-bombay;
    background-color: $color-bonjour;
  }

  .app-example__display.is-active {
    display: block !important;

    .is-active--inline {
      display: inline-block !important;
    }
  }
}

.app-example__tabs {
  position: absolute;
  top: 0;
  left: 0;
}

.app-example__tab {
  @include font-size-xs;

  display: inline-flex;
  padding: ($spacer / 2);
  background-color: $color-gallery;
  color: $color-woodsmoke;
  text-decoration: none;

  @include color-swap-on-hover(
    $color-woodsmoke,
    $color-woodsmoke,
    $link-trans-speed
  );

  &:visited {
    @include color-swap-on-hover(
      $color-woodsmoke,
      $color-woodsmoke,
      $link-trans-speed
    );
  }
}

.app-example__iframe {
  width: 100%;
  border: none;
}

.app-footer {
  padding: ($spacer * 2) 0;
  background-color: $color-gallery;

  .nav__item {
    padding-right: 0;
    padding-left: 0;
  }
}

.app-footer__title {
  padding: 0 0 $spacer;
  border-bottom: $color-bombay 1px solid;
}

.app-header {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  padding: ($spacer / 2) 0;
  background-color: $color-woodsmoke;
  color: $color-light;
}

.app-header__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-logo {
  display: flex;
  flex: 1 0 auto;
  align-items: flex-end;
  padding: ($spacer / 4) 0;
  font-size: 1.4rem;
  font-weight: $font-weight-bold;
  line-height: 1rem;
  text-decoration: none;
  text-transform: uppercase;

  @include color-swap-on-hover($color-light, $color-light);

  &:visited {
    @include color-swap-on-hover($color-light, $color-light);
  }

  &:hover {
    text-decoration: none;
  }

  &:focus {
    background: none;
    box-shadow: none;
  }
}

.app-logo__image {
  display: block;
  width: 60px;
  margin-right: ($spacer / 2);
}

.app-logo__text {
  display: block;
}

.app-version {
  display: none;
}

a.app-download {
  display: none;
}

.app-sidebar-toggle {
  position: absolute;
  top: 100%;
  left: 0;
  width: 60px;
  height: 60px;
  align-self: flex-end;
  padding: 0;

  .hamburger {
    transform: scale(0.8);

    &:hover,
    &:focus {
      .hamburger__inner,
      ::before,
      ::after {
        background-color: $color-light;
      }
    }
  }

  .hamburger__inner {
    background-color: $color-light;

    &::before,
    &::after {
      background-color: $color-light;
    }
  }
}

.app-main {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.app-content {
  padding: ($spacer * 3) 0 $spacer;
  overflow-x: auto;
}

.app-nav {
  padding: $spacer 0;

  .nav__item {
    @include font-size-md;

    padding: ($spacer / 3) 0;

    &.is-active {
      > .nav__link {
        font-weight: bold;
      }
    }
  }

  .nav__link {
    display: inline-block;
    padding: 0;
    text-decoration: none;

    &::after {
      display: none;
    }

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      text-decoration: none;
    }
  }

  .nav__item-level-1 {
    @include font-size-lg;

    > .nav {
      display: none;
    }

    &.is-active {
      > .nav__link {
        border-bottom: 3px solid $color-azure-radiance;

        &:hover {
          text-decoration: none;
        }

        &:focus {
          border-color: transparent;
        }
      }

      > .nav {
        display: block;
      }
    }

    > .nav__link {
      font-weight: $font-weight-medium;
    }
  }

  .nav--nested {
    padding-left: 0;
  }
}

.app-sidebar {
  position: fixed;
  z-index: 98;
  top: 0;
  left: 0;
  display: flex;
  display: none;
  overflow: auto;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  padding: $spacer $spacer $spacer ($spacer * 5);
  background: $color-light;
  box-shadow: 0 2px 20px rgba($color-dark, 0.6);

  &.is-active {
    display: block;
  }
}

@include md {
  .app-header__inner {
    flex-direction: row;
  }

  .app-version {
    display: inline-block;
    padding: 0 ($spacer / 2);
    margin-left: auto;
    font-size: 0.8rem;
    font-style: italic;
    line-height: 0.8rem;
  }

  a.app-download {
    display: inline-flex;
    flex: 0 0 auto;
    margin-left: $spacer;
  }

  .app-sidebar-toggle {
    display: none;
  }

  .app-main {
    flex: 1;
    flex-direction: row;
  }

  .app-content {
    flex: 1 1 60%;
    padding: ($spacer * 2) 0 $spacer ($spacer * 2);

    > h1 {
      margin-top: 0;
    }
  }

  .app-nav {
    padding: 0;

    .nav__item {
      @include font-size-base;
    }

    .nav__item-level-1 {
      @include font-size-md;
    }
  }

  .app-sidebar {
    position: relative;
    top: 0;
    display: block;
    height: auto;
    flex: 0 0 200px;
    padding-top: ($spacer * 2);
    background: transparent;
    box-shadow: none;

    > .button {
      display: none;
    }
  }
}

@include lg {
  .app-sidebar {
    width: 250px;
    flex: 0 0 auto;
    padding: ($spacer * 2) 0 0 0 !important;
  }
}
