// Settings: Base

// Colours
// Use http://chir.ag/projects/name-that-color/#51284F
// for colour variable names
$bombay: #afb1b8;
$bonjour: #e5e0e1;
$azure-radiance: #0d7adf;
$gallery: #f0f0f0;
$woodsmoke: #0b0c0c;

// Fonts
$font: 'Roboto', sans-serif !default;
$font-loaded: 'Roboto', sans-serif !default;
$font-monospace: 'Inconsolata', 'Menlo', 'Consolas', 'Bitstream Vera Sans Mono',
  'Courier', monospace !default;
