// Colours
// Use http://chir.ag/projects/name-that-color/#51284F
// for colour variable names
$alto: #dbdbdb;
$amaranth: #e7255f;
$bombay: #afb1b8;
$boulder: #7a7a7a;
$bonjour: #e5e0e1;
$denim: #1d70b8;
$dove-gray: #666;
$dune: #322e2d;
$gallery: #f0f0f0;
$mine-shaft: #393939;
$shark: #24292e;
$woodsmoke: #0b0c0c;
