// SETTINGS
$spacing: (
    single: $spacer,
    double: $spacer * 2,
    triple: $spacer * 3
) !default;

// MIXINS
@mixin flex-grid-column($column-number, $breakpoint: '') {
    $breakpoint-suffix: if($breakpoint == '', '', '\\@' + $breakpoint);

    .o-flex-grid
    > .o-flex-grid__cell--span-#{$column-number
    + $breakpoint-suffix} {
        max-width: #{(100/12 * $column-number) + '%'};
        flex: 0 0 #{(100/12 * $column-number) + '%'};
    }
}

@mixin flex-grid-gutters($spacing-prop, $spacing-value, $breakpoint: '') {
    $breakpoint-suffix: if($breakpoint == '', '', '\\@' + $breakpoint);
    $column-spacing: ($spacing-value/2);

    .o-flex-grid--gutters-#{$spacing-prop + $breakpoint-suffix} {
        margin-right: -$column-spacing;
        margin-left: -$column-spacing;

        .o-flex-grid__cell {
            padding-right: $column-spacing;
            padding-left: $column-spacing;
            margin-bottom: $spacing-value;
        }
    }

    .o-flex-grid--gutters-#{$spacing-prop}-horizontal#{$breakpoint-suffix} {
        margin-right: -$column-spacing;
        margin-left: -$column-spacing;

        .o-flex-grid__cell {
            padding-right: $column-spacing;
            padding-left: $column-spacing;
        }
    }

    .o-flex-grid--gutters-#{$spacing-prop}-vertical#{$breakpoint-suffix} {
        .o-flex-grid__cell {
            margin-bottom: $spacing-value;
        }
    }
}
// DEFINITIONS
.o-flex-grid {
    display: flex;
    flex-wrap: wrap;

    > .o-flex-grid__cell {
        max-width: 100%;
        flex: 0 0 100%;
    }
}
// LOOP THROUGH BREAKPOINTS AND RUN MIXINS FOR EACH
@each $spacing-key, $spacing-value in $spacing {
    @include flex-grid-gutters($spacing-key, $spacing-value);
}
// LOOP THROUGH BREAKPOINTS, THEN SPACINGS AND RUN MIXINS FOR EACH
@each $breakpoint-key, $breakpoint-value in $breakpoints {
    @include breakpoint($breakpoint-key) {
        @each $spacing-key, $spacing-value in $spacing {
            @include flex-grid-gutters(
                $spacing-key,
                $spacing-value,
                $breakpoint-key
            );
        }
    }
}
// LOOP THROUGH GRID COLUMNS AND RUN MIXINS FOR EACH
@for $i from 1 through $grid-columns {
    @include flex-grid-column($i);
}
// LOOP THROUGH BREAKPOINTS, THEN GRID COLUMNS AND RUN MIXINS FOR EACH
@each $breakpoint-key, $breakpoint-value in $breakpoints {
    @include breakpoint($breakpoint-key) {
        @for $i from 1 through $grid-columns {
            @include flex-grid-column($i, $breakpoint-key);
        }
    }
}
