// SETTINGS

$grid-columns: 12 !default;
$single-spacing: 1rem !default;
$spacing: (
    single: $single-spacing,
    double: $single-spacing * 2,
    triple: $single-spacing * 3
) !default;

// DEFINITIONS
.o-flex-grid {
    display: flex;
    flex-wrap: wrap;
}
