// Elements: Inline

$code-bg: $light !default;
$code-font-family: $font-monospace !default;
$hr-width: 100% !default;
$hr-border: 1px solid $dark !default;
$hr-margin: $spacer auto !default;
$strong-font-weight: $font-weight-bold !default;
$small-font-size: 80% !default;
$cite-font-style: italic !default;

b {
  font-weight: normal;
}

cite {
  font-style: $cite-font-style;

  &::before {
    content: '- ';
  }
}

code {
  display: inline-block;
  padding: 0 0.2rem;
  background: $code-bg;
  font-family: $code-font-family;
}

hr {
  max-width: $hr-width;
  height: 0;
  border: 0;
  border-bottom: $hr-border;
  margin: $hr-margin;
  clear: both;
}

i {
  font-style: normal;
}

pre {
  display: block;

  code {
    display: block;
    padding: $spacer;
    overflow-x: auto;
  }
}

small {
  font-size: $small-font-size;
}

u {
  text-decoration: none;
}
