// Components: Nav Definition

$nav-link-color: $link-color !default;
$nav-link-bg: transparent !default;
$nav-link-hover-color: $nav-link-color !default;
$nav-link-hover-bg: $nav-link-bg !default;
$nav-link-text-decoration: none !default;
$nav-link-text-align: center !default;
$nav-link-trans-speed: 200 !default;
$nav-link-active-color: $nav-link-color !default;
$nav-link-active-bg: transparent !default;
$nav-item-padding: 0 !default;
$nav-link-padding: $spacer !default;
$nav-link-font-weight: $font-weight-normal !default;

.c-nav {
    display: flex;
    width: 100%;
    max-width: 100%;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0;
    list-style: none;
}

.c-nav--right {
    justify-content: flex-end;
}

.c-nav--center {
    justify-content: center;
}

.c-nav--expanded {
    > .c-nav__item {
        min-width: 0;
        flex: 1 1 0%;
    }
}

.c-nav__item {
    flex: 0 0 auto;
    padding: $nav-item-padding;
}

.c-nav__item--right {
    display: flex;
    margin-left: auto;
}

.c-nav__item--left {
    display: flex;
    margin-right: auto;
}

.c-nav__link {
    @include color-swap-on-hover(
        $nav-link-color $nav-link-bg,
        $nav-link-hover-color $nav-link-hover-bg,
        $nav-link-trans-speed
    );

    display: block;
    padding: $nav-link-padding;
    text-align: $nav-link-text-align;
    text-decoration: $nav-link-text-decoration;

    .is-active > &,
    &.is-active {
        @include color-swap-on-hover(
            $nav-link-active-color $nav-link-active-bg,
            $nav-link-active-color $nav-link-active-bg,
            $nav-link-trans-speed
        );
    }
}
