{% set AppParentId = "layouts" %}
{% set AppCurrentId = "container" %}

{% extends 'layouts/lab-side-content.html' %}

{% from 'macros/lab-example.html' import LabExample %}
{% from 'macros/lab-code.html' import LabCode %}

{% block content %}
  <h1>Container</h1>

  <p class="font-size-md">Options for displaying your content in layouts.</p>

  <h3>Usage</h3>

  {{LabCode('html', '
  <div class="container">
    ...
  </div>
  ')}}

  <h3>Fluid</h3>

  {{LabCode('html', '
  <div class="container-fluid">
    ...
  </div>
  ')}}
{% endblock %}
