{% set AppParentId = "modules" %}
{% set AppCurrentId = "toggle" %}

{% extends 'layouts/lab-side-content.html' %}

{% from 'macros/lab-example.html' import LabExample %}
{% from 'macros/lab-code.html' import LabCode %}

{% block content %}
  <h1>Toggle</h1>

  <p class="font-size-md">Hide, switch or change the appearance of different contents through a toggle.</p>

  <h2>Usage</h2>

  {{LabExample(AppParentId, AppCurrentId)}}
  {{LabCode('html', '
  <button class="button" data-module="Toggle">Toggle</button>
  ')}}

  <h2>Target</h2>

  {{LabExample(AppParentId, AppCurrentId, 'target')}}
  {{LabCode('html', '
  data-options="{"target": ".lab-example-target"}"
  ')}}

  <h2>Active class</h2>
  {{LabCode('html', '
  data-options="{"activeClass": "new-active-class}"
  ')}}
{% endblock %}
