{% extends 'lab-side-content.html' %}

{% set AppParentId = "modules" %}
{% set AppCurrentId = "sticky" %}

{% block content %}
  <h1>Sticky</h1>

  <p class="font-size-md">Using
    <a href="https://www.npmjs.com/package/stickybits" target="_blank">Stickybits</a>
    to create sticky elements.</p>

  <h2>Usage</h2>

  {{LabExample(AppParentId, AppCurrentId)}}
  {{LabCode('html', '
  <div class="sticky" data-module="Sticky">
    <div class="sticky__item">...</div>
  </div>
  ')}}
{% endblock %}
