{% set AppParentId = "utilities" %}
{% set AppCurrentId = "position" %}

{% extends 'layouts/lab-side-content.html' %}

{% from 'macros/lab-example.html' import LabExample %}
{% from 'macros/lab-code.html' import LabCode %}
{% from 'macros/lab-css-table.html' import LabCssTable %}

{% block content %}

  <h1>Position</h1>

  {{ LabCssTable([
    { "class": ".position-relative", "rule": "position: relative;"},
    { "class": ".position-absolute", "rule": "position: absolute;"},
    { "class": ".position-fixed", "rule": "position: fixed;"},
    { "class": ".position-static", "rule": "position: static;"}
  ])}}

  <h2>Media Queries</h2>

  <p>
    <code>position-relative@md</code>
  </p>

{% endblock %}
