{% set AppParentId = "utilities" %}
{% set AppCurrentId = "position" %}

{% extends 'layouts/lab-side-content.html' %}

{% from 'macros/lab-example.html' import LabExample %}
{% from 'macros/lab-code.html' import LabCode %}

{% block content %}
  <h1>Position</h1>

  <h3>Usage</h3>

  <ul>
    <li>
      <code>position-relative</code>
    </li>
    <li>
      <code>position-absolute</code>
    </li>
    <li>
      <code>position-fixed</code>
    </li>
    <li>
      <code>position-static</code>
    </li>
  </ul>

  <h3>Media Queries</h3>

  <p>
    <code>position-relative@md</code>
  </p>
{% endblock %}
