{% extends 'lab-side-content.html' %}

{% set AppParentId = "utilities" %}
{% set AppCurrentId = "margin" %}

{% block content %}

  <h1>Margin</h1>

  {{ LabCssTable([
    { "class": ".margin-top-auto", "rule": "margin-top: auto;"},
    { "class": ".margin-right-auto", "rule": "margin-right: auto;"},
    { "class": ".margin-bottom-auto", "rule": "margin-bottom: auto;"},
    { "class": ".margin-left-auto", "rule": "margin-left: auto;"}
  ])}}

  <h2>Media Queries</h2>

  <p>
    <code>margin-top@md</code>
  </p>

{% endblock %}
