{% set AppParentId = "utilities" %}
{% set AppCurrentId = "margin" %}

{% extends 'layouts/lab-side-content.html' %}

{% from 'macros/lab-example.html' import LabExample %}
{% from 'macros/lab-code.html' import LabCode %}
{% from 'macros/lab-css-table.html' import LabCssTable %}

{% block content %}

  <h1>Margin</h1>

  {{ LabCssTable([
    { "class": ".margin-top-auto", "rule": "margin-top: auto;"},
    { "class": ".margin-right-auto", "rule": "margin-right: auto;"},
    { "class": ".margin-bottom-auto", "rule": "margin-bottom: auto;"},
    { "class": ".margin-left-auto", "rule": "margin-left: auto;"}
  ])}}

  <h2>Media Queries</h2>

  <ul>
    <li>
      <code>margin-top@md</code>
    </li>
  </ul>

{% endblock %}
