{% set AppParentId = "utilities" %}
{% set AppCurrentId = "size" %}

{% extends 'layouts/lab-side-content.html' %}

{% from 'macros/lab-example.html' import LabExample %}
{% from 'macros/lab-code.html' import LabCode %}
{% from 'macros/lab-css-table.html' import LabCssTable %}

{% block content %}

  <h1>Size</h1>

  <h3>Width</h3>

  {{ LabCssTable([
    { "class": ".width-25", "rule": "width: 25%;"},
    { "class": ".width-50", "rule": "width: 50%;"},
    { "class": ".width-75", "rule": "width: 75%;"},
    { "class": ".width-100", "rule": "width: 100%;"},
    { "class": ".width-auto", "rule": "width: auto;"}
  ])}}

  <h3>Min width</h3>

  {{ LabCssTable([
    { "class": ".min-width-25", "rule": "min-width: 25%;"},
    { "class": ".min-width-50", "rule": "min-width: 50%;"},
    { "class": ".min-width-75", "rule": "min-width: 75%;"},
    { "class": ".min-width-100", "rule": "min-width: 100%;"},
    { "class": ".min-width-auto", "rule": "min-width: auto;"}
  ])}}

  <h3>Height</h3>

  {{ LabCssTable([
    { "class": ".height-25", "rule": "height: 25%;"},
    { "class": ".height-50", "rule": "height: 50%;"},
    { "class": ".height-75", "rule": "height: 75%;"},
    { "class": ".height-100", "rule": "height: 100%;"},
    { "class": ".height-auto", "rule": "width: auto;"}
  ])}}

  <h3>Min height</h3>

  {{ LabCssTable([
    { "class": ".min-height-25", "rule": "min-height: 25%;"},
    { "class": ".min-height-50", "rule": "min-height: 50%;"},
    { "class": ".min-height-75", "rule": "min-height: 75%;"},
    { "class": ".min-height-100", "rule": "min-height: 100%;"},
    { "class": ".min-height-auto", "rule": "min-height: auto;"}
  ])}}

  <h2>Media Queries</h2>

  <p>
    <code>width-50@md</code>
  </p>

{% endblock %}
