{% set AppParentId = "utilities" %}
{% set AppCurrentId = "type" %}

{% extends 'layouts/lab-side-content.html' %}

{% from 'macros/lab-example.html' import LabExample %}
{% from 'macros/lab-code.html' import LabCode %}
{% from 'macros/lab-css-table.html' import LabCssTable %}

{% block content %}

  <h1>Type</h1>

  {{ LabCssTable([
    { "class": ".font-size-display", "rule": ""},
    { "class": ".font-size-xxxl", "rule": ""},
    { "class": ".font-size-xxl", "rule": ""},
    { "class": ".font-size-xl", "rule": ""},
    { "class": ".font-size-lg", "rule": ""},
    { "class": ".font-size-md", "rule": ""},
    { "class": ".font-size-base", "rule": ""},
    { "class": ".font-size-sm", "rule": ""},
    { "class": ".font-size-xs", "rule": ""}
  ])}}

{% endblock %}
