{% set AppParentId = "utilities" %}
{% set AppCurrentId = "visibility" %}

{% extends 'layouts/lab-side-content.html' %}

{% from 'macros/lab-example.html' import LabExample %}
{% from 'macros/lab-code.html' import LabCode %}

{% block content %}
  <h1>Visibility</h1>

  <h2>Usage</h2>

  <ul>
    <li>
      <code>visibility-hidden</code>
    </li>
    <li>
      <code>visibility-visible</code>
    </li>
  </ul>

  <h3>Media Queries</h3>

  <ul>
    <li>
      <code>visibility-hidden@md</code>
    </li>
    <li>
      <code>visibility-visible@md</code>
    </li>
  </ul>
{% endblock %}
