{% set AppParentId = "utilities" %}
{% set AppCurrentId = "size" %}

{% extends 'layouts/lab-side-content.html' %}

{% from 'macros/lab-example.html' import LabExample %}
{% from 'macros/lab-code.html' import LabCode %}

{% block content %}
  <h1>Size</h1>

  <h2>Usage</h2>

  <p>
    <code>width-25</code>
  </p>

  <h2>Width</h2>

  <ul>
    <li>
      <code>width-25</code>
    </li>
    <li>
      <code>width-50</code>
    </li>
    <li>
      <code>width-75</code>
    </li>
    <li>
      <code>width-100</code>
    </li>
    <li>
      <code>width-auto</code>
    </li>
  </ul>

  <h3>Min width</h3>

  <ul>
    <li>
      <code>min-width-25</code>
    </li>
    <li>
      <code>min-width-50</code>
    </li>
    <li>
      <code>min-width-75</code>
    </li>
    <li>
      <code>min-width-100</code>
    </li>
    <li>
      <code>min-width-auto</code>
    </li>
  </ul>

  <h2>Height</h2>

  <ul>
    <li>
      <code>height-25</code>
    </li>
    <li>
      <code>height-50</code>
    </li>
    <li>
      <code>height-75</code>
    </li>
    <li>
      <code>height-100</code>
    </li>
    <li>
      <code>height-auto</code>
    </li>
  </ul>

  <h3>Min height</h3>

  <ul>
    <li>
      <code>min-height-25</code>
    </li>
    <li>
      <code>min-height-50</code>
    </li>
    <li>
      <code>min-height-75</code>
    </li>
    <li>
      <code>min-height-100</code>
    </li>
    <li>
      <code>min-height-auto</code>
    </li>
  </ul>

  <h3>Media Queries</h3>

  <p>
    <code>width-50@md</code>
  </p>
{% endblock %}
