{% extends 'lab-side-content.html' %}

{% set AppParentId = "utilities" %}
{% set AppCurrentId = "text" %}

{% block content %}

  <h1>Text</h1>

  {{ LabCssTable([
    { "class": ".text-left", "rule": "text-align: left;"},
    { "class": ".text-center", "rule": "text-align: center;"},
    { "class": ".text-right", "rule": "text-align: right;"},
    { "class": ".text-justify", "rule": "text-align: jusify;"}
  ])}}

  <h2>Media Queries</h2>

  <p>
    <code>text-right@md</code>
  </p>

{% endblock %}
