{% set AppParentId = "utilities" %}
{% set AppCurrentId = "visibility" %}

{% extends 'layouts/lab-side-content.html' %}

{% from 'macros/lab-example.html' import LabExample %}
{% from 'macros/lab-code.html' import LabCode %}
{% from 'macros/lab-css-table.html' import LabCssTable %}

{% block content %}

  <h1>Visibility</h1>

  {{ LabCssTable([
    { "class": ".visibility-hidden", "rule": "visibility: hidden;"},
    { "class": ".visibility-visible", "rule": "visibility: visible;"}
  ])}}

  <h2>Media Queries</h2>

  <p>
    <code>visibility-hidden@md</code>
  </p>

{% endblock %}
