// Components: Button

$button-display: inline-flex !default;
$button-padding: $spacer !default;
$button-min-width: $min-touch-size !default;
$button-min-height: 1em !default;
$button-border: 0 !default;
$button-cursor: pointer !default;
$button-line-height: 1 !default;
$button-bg: $primary !default;
$button-color: $light !default;
$button-hover-bg: $secondary !default;
$button-hover-color: $light !default;
$button-visited-bg: $button-bg !default;
$button-visited-color: $light !default;
$button-visited-hover-bg: $button-hover-bg !default;
$button-visited-hover-color: $button-hover-color !default;
$button-active-bg: $button-hover-bg !default;
$button-active-color: $button-hover-color !default;
$button-active-hover-bg: $button-hover-bg !default;
$button-active-hover-color: $button-hover-color !default;
$button-icon-fill: $button-color !default;
$button-text-decoration: none !default;

.button {
  position: relative;
  display: $button-display;
  min-width: $button-min-width;
  min-height: $button-min-height;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: $button-padding;
  border: $button-border;
  background: $button-bg;
  color: $button-color;
  cursor: $button-cursor;
  line-height: $button-line-height;
  outline: none;
  text-decoration: $button-text-decoration;
  vertical-align: baseline;

  @include color-swap-on-hover(
    $button-color $button-bg,
    $button-hover-color $button-hover-bg,
    $link-trans-speed
  );

  &:visited {
    @include color-swap-on-hover(
      $button-visited-color $button-visited-bg,
      $button-visited-hover-color $button-visited-hover-bg,
      $link-trans-speed
    );
  }

  &.is-active {
    @include color-swap-on-hover(
      $button-active-color $button-active-bg,
      $button-active-hover-color $button-active-hover-bg,
      $link-trans-speed
    );
  }

  &--block {
    display: block;
  }

  &.has-icon {
    padding-left: ($spacer * 3);

    .icon {
      position: absolute;
      left: ($spacer / 2);
    }
  }

  .icon {
    svg {
      fill: $button-icon-fill;
    }
  }
}

.button__text {
  display: inline-block;
}
