.app-example {
  position: relative;
  padding-top: ($spacer * 2);
  border: 2px solid $gallery;

  .grid .grid__cell,
  .flex-grid .flex-grid__cell {
    padding: $spacer;
    border: 1px solid $bombay;
    background-color: $bonjour;
  }

  .app-example__display.is-active {
    display: block !important;

    .is-active--inline {
      display: inline-block !important;
    }
  }
}

.app-example__tabs {
  position: absolute;
  top: 0;
  left: 0;
}

.app-example__tab {
  @include font-size-xs;

  display: inline-flex;
  padding: ($spacer / 2);
  background-color: $gallery;
  color: $base-text-color;
  text-decoration: none;

  @include color-swap-on-hover(
    $base-text-color,
    $base-text-color,
    $link-trans-speed
  );

  &:visited {
    @include color-swap-on-hover(
      $base-text-color,
      $base-text-color,
      $link-trans-speed
    );
  }
}

.app-example__iframe {
  width: 100%;
  border: none;
}
