// Utilities: Positioning

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.position-fixed {
  position: fixed !important;
}

.position-static {
  position: static !important;
}

@each $key, $value in $breakpoints {
  @include breakpoint($key) {
    .position-relative\@#{$key} {
      position: relative !important;
    }

    .position-absolute\@#{$key} {
      position: absolute !important;
    }

    .position-fixed\@#{$key} {
      position: fixed !important;
    }

    .position-static\@#{$key} {
      position: static !important;
    }
  }
}
