{% extends 'lab-side-content.html' %}

{% set AppParentId = "getting-started" %}
{% set AppCurrentId = "download" %}

{% block content %}
  <h1>Download</h1>

  <p>To start using the Giza Frontend in your project
    <a href="https://github.com/r500dwp/giza/archive/master.zip" target="_blank">download the source files</a>.</p>

  <h3>Installation</h3>

  {{LabCode('html', '
  $ yarn
  ')}}

  <h3>Prototyping</h3>

  {{LabCode('html', '
  $ yarn start
  ')}}

  <h3>Production</h3>

  {{LabCode('html', '
  $ yarn build
  ')}}

{% endblock %}
