{% extends 'lab-side-content.html' %}

{% set AppParentId = "layouts" %}
{% set AppCurrentId = "spacer" %}

{% block content %}
  <h1>Spacer</h1>

  <p class="font-size-md">Use our spacers to uniformly space your content.</p>

  <h2>Usage</h2>

  {{ LabCssTable([
    { "class": "$spacer-xxs", "rule": "0.25"},
    { "class": "$spacer-xxs", "rule": "0.50"},
    { "class": "spacer-xs", "rule": "0.75"},
    { "class": "spacer-base", "rule": "1"},
    { "class": "spacer-md", "rule": "1.25"},
    { "class": "spacer-lg", "rule": "1.50"},
    { "class": "spacer-xl", "rule": "1.75"},
    { "class": "spacer-xxl", "rule": "2"}
  ])}}
{% endblock %}
