{% extends 'lab-side-content.html' %}

{% set AppParentId = "utilities" %}
{% set AppCurrentId = "type" %}

{% block content %}

  <h1>Type</h1>

  <p class="font-size-md">Our responsive text sizing, each font size has its range of sizes with its own media queries.</p>

  {{ LabCssTable([
    { "class": ".font-size-display", "rule": ""},
    { "class": ".font-size-xxxl", "rule": ""},
    { "class": ".font-size-xxl", "rule": ""},
    { "class": ".font-size-xl", "rule": ""},
    { "class": ".font-size-lg", "rule": ""},
    { "class": ".font-size-md", "rule": ""},
    { "class": ".font-size-base", "rule": ""},
    { "class": ".font-size-sm", "rule": ""},
    { "class": ".font-size-xs", "rule": ""}
  ])}}

{% endblock %}
