{% extends 'lab-side-content.html' %}

{% set AppParentId = "utilities" %}
{% set AppCurrentId = "spacing" %}

{% block content %}

  <h1>Spacing</h1>

  <p class="font-size-md">Responsive margins and paddings.</p>

  <h3>Margin</h3>

  {{ LabCssTable([
    { "class": ".margin-auto", "rule": "auto"},
    { "class": ".margin-0", "rule": "0"},
    { "class": ".margin-1", "rule": "$spacer * 0.25"},
    { "class": ".margin-2", "rule": "$spacer * 0.5"},
    { "class": ".margin-3", "rule": "$spacer"},
    { "class": ".margin-4", "rule": "$spacer * 1.5"},
    { "class": ".margin-5", "rule": "$spacer * 2"}
  ])}}

  <h3>Padding</h3>

  {{ LabCssTable([
    { "class": ".padding-0", "rule": "0"},
    { "class": ".padding-1", "rule": "$spacer * 0.25"},
    { "class": ".padding-2", "rule": "$spacer * 0.5"},
    { "class": ".padding-3", "rule": "$spacer"},
    { "class": ".padding-4", "rule": "$spacer * 1.5"},
    { "class": ".padding-5", "rule": "$spacer * 2"}
  ])}}

  <h3>Individual margin</h3>

  {{LabCode('html', '
    .margin-top-1
    .margin-right-1
    .margin-bottom-1
    .margin-left-1
  ')}}

  <h3>Negative margin</h3>

  {{LabCode('html', '
    .margin-negative-1
    .margin-top-negative-1
    .margin-right-negative-1
    .margin-bottom-negative-1
    .margin-left-negative-1
  ')}}

  <h3>Individual padding</h3>

  {{LabCode('html', '
    .padding-top-1
    .padding-right-1
    .padding-bottom-1
    .padding-left-1
  ')}}

  <h3>Media Queries</h3>

  <p>
    <code>padding-top-3@md</code>
  </p>

{% endblock %}
