{% extends 'lab-side-content.html' %}

{% set AppParentId = "utilities" %}
{% set AppCurrentId = "position" %}

{% block content %}

  <h1>Position</h1>

  <p class="font-size-md">Modify positions responsively.</p>

  {{ LabCssTable([
    { "class": ".position-relative", "rule": "position: relative;"},
    { "class": ".position-absolute", "rule": "position: absolute;"},
    { "class": ".position-fixed", "rule": "position: fixed;"},
    { "class": ".position-static", "rule": "position: static;"}
  ])}}

  <h2>Media Queries</h2>

  <p>
    <code>position-relative@md</code>
  </p>

{% endblock %}
