// Options
$grid-columns: 12 !default;

// Column spacing
$column-spacing: 1rem !default;
$column-breakpoint-spacings: () !default;

// Sizes
$min-touch-size: 44px !default;
$site-max-width: 1200px !default;

// Spacer
$spacer: 1rem !default;
$spacer-xs: $spacer * 0.25 !default; // 0.25
$spacer-sm: $spacer * 0.5 !default; // 0.50
$spacer-md: $spacer !default;
$spacer-lg: $spacer * 1.5 !default; // 1.50
$spacer-xl: $spacer * 2 !default; // 2

// Colours
$white: #fff !default;
$gray: #ddd !default;
$black: #000 !default;
$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

// Fonts
$font: sans-serif !default;
$font-loaded: Helvetica, Arial, sans-serif !default;
$font-monospace: 'Inconsolata', 'Menlo', 'Consolas', 'Bitstream Vera Sans Mono',
  'Courier', monospace !default;
$font-size: 1rem !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 600 !default;
$font-weight-bold: 700 !default;

// Utilities
$display-breakpoints: null;
$margin-breakpoints: null;
$position-breakpoints: null;
$size-breakpoints: null;
$text-align-breakpoints: null;
$visibility-breakpoints: null;
