// Options
$grid-columns: 12 !default;

// Sizes
$min-touch-size: 44px !default;
$site-max-width: 1200px !default;

// Spacer
$spacer: 1rem !default;
$spacer-xxs: $spacer / 4 !default; // 0.25
$spacer-xs: $spacer / 2 !default; // 0.50
$spacer-sm: $spacer / 4 * 3 !default; // 0.75
$spacer-base: $spacer !default; // 1
$spacer-md: $spacer * 1.25 !default; // 1.25
$spacer-lg: $spacer * 1.5 !default; // 1.50
$spacer-xl: $spacer * 1.75 !default; // 1.75
$spacer-xxl: $spacer * 2 !default; // 2

// Colours
// Use http://chir.ag/projects/name-that-color/#51284F
// for colour variable names
$color-light: #fff !default;
$color-medium: #ddd !default;
$color-dark: #000 !default;
$color-azure-radiance: #0d7adf !default;

// Fonts
$font: Helvetica, Arial, sans-serif !default;
$font-loaded: Helvetica, Arial, sans-serif !default;
$font-monospace: 'Inconsolata', 'Menlo', 'Consolas', 'Bitstream Vera Sans Mono',
  'Courier', monospace !default;
$font-size: 16px !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 600 !default;
$font-weight-bold: 700 !default;
