// Components: Nav Vertical

.nav--vertical {
  .nav__item {
    flex: 0 0 100%;
    text-align: left;
  }

  .nav__link {
    align-items: flex-start;
    justify-content: flex-start;
    text-align: inherit;
  }

  &.nav--right {
    .nav__item,
    .nav__item--left {
      text-align: right;
    }
  }

  &.nav--center .nav__item {
    text-align: center;
  }
}
