// Components: Accordion

$accordion-item-border: 1px solid $dark !default;
$accordion-title-padding: $spacer !default;
$accordion-content-padding: 0 $spacer $spacer !default;

.c-accordion {
    margin: 0;
    list-style: none;
}

.c-accordion__item {
    &:not(:first-child) {
        border-top: $accordion-item-border;
    }
}

.c-accordion__title {
    display: block;
    padding: $accordion-title-padding;
}

.c-accordion__content {
    display: none;
    padding: $accordion-content-padding;

    .is-active > & {
        display: block;
    }
}
