$header-offset-sm: 48px + 56px !default;
$header-offset-md: 48px !default;

$app-header-background-color: $woodsmoke !default;
$app-header-text-color: $light !default;

body,
.app-sidebar {
  padding-top: $header-offset-sm !important;
}

.app-header {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  padding: ($spacer / 2) 0;
  background-color: $app-header-background-color;
  color: $app-header-text-color;
}

.app-header__inner {
  display: flex;
  align-items: center;
}

.app-logo {
  display: inline-block;
  font-size: 1.75rem;
  font-weight: $font-weight-bold;
  text-decoration: none;
  text-transform: uppercase;

  @include color-swap-on-hover($app-header-text-color, $app-header-text-color);

  &:visited {
    @include color-swap-on-hover(
      $app-header-text-color,
      $app-header-text-color
    );
  }

  &:hover {
    text-decoration: none;
  }

  &:focus {
    background: none;
    box-shadow: none;
  }
}

.lab-version {
  @include minion;

  display: inline-block;
  padding: 0 ($spacer / 2);
  font-style: italic;
}

.sidebar-toggle {
  position: absolute;
  top: 100%;
  left: 0;
  align-self: flex-end;

  .hamburger {
    &:hover,
    &:focus {
      .hamburger__inner,
      ::before,
      ::after {
        background-color: $light;
      }
    }
  }

  .hamburger__inner {
    background-color: $light;

    &::before,
    &::after {
      background-color: $light;
    }
  }
}

@include md {
  body {
    padding-top: $header-offset-md !important;
  }

  .app-sidebar {
    padding-top: ($spacer * 2) !important;
  }

  .sidebar-toggle {
    display: none;
  }
}
