{% extends 'lab-source.html' %}

{% from 'icon.html' import Icon %}

{% macro Button(model) %}

  {% if model.aria.label %}
    {% set ariaLabel = 'aria-label="' + model.aria.label + '"' %}
  {% endif %}

  {% if model.toggle %}
    {% set toggle = 'data-module="Toggle" data-options=\'{"target": "'+model.toggle.target+'", "activeClass": "'+model.toggle.class+'"}\'' %}
  {% endif %}

  {% if model.url %}
    <a class="button{{model.classes}}" href="{{model.url}}" {{ariaLabel|safe}}>
      {% if model.icon %}
        {{Icon(model.icon)}}
      {% endif %}
      {% if model.description %}
        <span class="button__text">{{model.description}}</span>
      {% endif %}
    </a>
  {% else %}
    <button class="button{{model.classes}}" {{toggle|safe}} {{ariaLabel|safe}}>
      {% if model.icon %}
        {{Icon(model.icon)}}
      {% endif %}
      {% if model.description %}
        <span class="button__text">{{model.description}}</span>
      {% endif %}
    </button>
  {% endif %}
{% endmacro %}

{% block body %}

  {{ Button({
    'description': 'Button',
    'aria': {
      'label': 'Aria label'
    },
    'classes': ' button--class'
  }) }}

{% endblock %}
