{% extends 'lab-source.html' %}

{% from 'button.html' import Button %}

{% macro CardHorizontal(model) %}
  {% if model.container %}
    <div class="container">
    {% endif %}
    <div class="card card--horizontal{% if model.classes %} {{model.classes}}{% endif %}">
      <div class="row margin-0">
        {% if model.header %}
          <div class="col padding-0">
            <div class="card__header">{{model.header}}</div>
          </div>
        {% endif %}
        {% if model.img %}
          <div class="col col-4 padding-0">
            <img class="card__img height-100 object-fit-cover" src="{{model.img.src}}" alt="{{model.img.description}}">
          </div>
        {% endif %}
        <div class="col col-8 padding-0">
          {% if model.vimeo %}
            <div class="card__video">
              <div class="video">
                <iframe src="https://player.vimeo.com/video/{{model.vimeo.src}}" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="allowfullscreen"></iframe>
              </div>
            </div>
          {% endif %}
          {% if model.title or model.description %}
            <div class="card__body">
              {% if model.title %}
                <h5 class="card__title">{{model.title}}</h5>
              {% endif %}
              {% if model.description %}
                <div class="card__text">{{model.description|safe}}</div>
              {% endif %}
              {% if model.button %}
                {{ Button(model.button) }}
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% if model.container %}
    </div>
  {% endif %}
{% endmacro %}

{% block body %}

  {{CardHorizontal({
    'header': 'Card header',
    'title': 'Card title',
    'description': 'Some text adding to the card title and to add volume to the card\'s content.',
    'img': {
      'src': '//via.placeholder.com/200x250',
      'description': ''
    },
    'button': {
      'url': '#',
      'description': 'Go somewhere'
    }
  })}}

{% endblock %}
