{% extends 'lab-source.html' %}

{% from 'list-group.html' import ListGroup %}
{% from 'media.html' import Media %}

{% block body %}

  <ul class="list-group">
    <li class="list-group__item">
      {{ Media({
        'title': 'Heading',
        'description': '<p>Some text adding to the card title and to add volume to the card\'s content.</p>',
        'img': {
          'src': '//placehold.it/64x64',
          'description': ''
        }
      }) }}
    </li>
    <li class="list-group__item">
      {{ Media({
        'title': 'Heading',
        'description': '<p>Some text adding to the card title and to add volume to the card\'s content.</p>',
        'img': {
          'src': '//placehold.it/64x64',
          'description': ''
        }
      }) }}
    </li>
  </ul>

{% endblock %}
