{% extends 'lab-source.html' %}

{% macro ListGroup(model) %}
  <ul class="list-group">
    {% for item in model.items %}
      <li class="list-group__item{{activeClass}}">
        {% if item.url %}
          <a href="{{item.url}}">{{item.title}}</a>
        {% else %}
          {{item.title}}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{% block body %}

  {{ ListGroup({
    'items': [
      {
        'title': 'List group item'
      },
      {
        'title': 'Another list group item with a link',
        'url': '#'
      },
      {
        'title': 'Another list group item with just text'
      }
    ]
  }) }}

{% endblock %}
