{% extends 'lab-source.html' %}

{% macro Media(model) %}
  {% if model.container %}
    <div class="container">
    {% endif %}
    <div class="media">
      {% if model.img %}
        <div class="media__image">
          <img src="{{model.img.src}}" alt="{{model.img.description}}">
        </div>
      {% endif %}
      {% if model.vimeo %}
        <div class="media__video">
          <div class="video">
            <iframe src="https://player.vimeo.com/video/{{model.vimeo.src}}" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="allowfullscreen"></iframe>
          </div>
        </div>
      {% endif %}
      <div class="media__body">
        <h5 class="media__title">{{model.title}}</h5>
        {% if model.description %}
          {{model.description|safe}}
        {% endif %}
      </div>
    </div>
    {% if model.container %}
    </div>
  {% endif %}
{% endmacro %}

{% block body %}

  {{ Media({
    'title': 'Heading',
    'description': '<p>Some text adding to the card title and to add volume to the card\'s content.</p>',
    'img': {
      'src': '//placehold.it/64x64',
      'description': ''
    }
  }) }}

{% endblock %}
