{% extends 'lab-source.html' %}

{% from 'nav.html' import Nav %}

{% block body %}

  {{ Nav({
    'items': [
      {
        'title': 'Link 1',
        'url': '#',
        'classes': ' is-dropdown-nav-parent',
        'children': {
        'items': [
          {
            'title': 'Link 1',
            'url': '#'
          },
          {
            'title': 'Link 2',
            'url': '#'
          },
          {
            'title': 'Link 3',
            'url': '#'
          }
        ],
        'classes': ' is-dropdown-nav'
        }
      },
      {
        'title': 'Link 2',
        'url': '#'
      },
      {
        'title': 'Link 3',
        'url': '#'
      }
    ],
    'classes': ' nav--dropdown'
  }) }}

{% endblock %}
