{% extends 'layouts/lab-source.html' %}

{% macro Nav(modal) %}
  <ul class="nav">
    {% for item in modal %}

      {% if item.children %}
        {% set parent = " is-parent" %}
      {% endif %}

      <li class="nav__item{{item.classes}}{{level}}{{parent}}{{activeClass}}">
        <a class="nav__link" href="{{item.url}}">{{item.title}}</a>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{% block body %}

  {{ Nav([
    {
      'title': 'Link 1',
      'url': '#'
    },
    {
      'title': 'Link 2',
      'url': '#'
    },
    {
      'title': 'Link 3',
      'url': '#'
    }
  ]) }}

{% endblock %}
