{% extends 'lab-source.html' %}

{% macro NavNested(modal) %}
  <ul class="nav nav--vertical">
    <li class="nav__item">
      <a class="nav__link is-active" href="#">Active</a>
      <ul class="nav nav--vertical nav--nested">
        <li class="nav__item">
          <a class="nav__link" href="#">Link</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Link</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Link</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Link</a>
        </li>
      </ul>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Link</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Link</a>
    </li>
    <li class="nav__item">
      <a class="nav__link is-disabled" href="#">Disabled</a>
    </li>
  </ul>
{% endmacro %}

{% block body %}

  {{ NavNested() }}

{% endblock %}
