.app-main {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.app-content {
  padding: ($spacer * 3) 0 $spacer;
  overflow-x: auto;
}

@include md {
  .app-main {
    flex: 1;
    flex-direction: row;
  }

  .app-content {
    flex: 1 1 60%;
    padding: ($spacer * 2) 0 $spacer ($spacer * 2);

    > h1 {
      margin-top: 0;
    }
  }
}
