$display-prop-values: 'none', 'block', 'inline-block', 'flex' !default;

@mixin display($prop-value, $breakpoint: '') {
  $breakpoint-suffix: if($breakpoint == '', '', '\\@' + $breakpoint);

  .display-#{$prop-value + $breakpoint-suffix} {
    display: #{$prop-value} !important;
  }
}

@each $value in $display-prop-values {
  @include display($value);
}

@each $key, $value in $breakpoints {
  @include breakpoint($key) {
    @each $value in $display-prop-values {
      @include display($value, $key);
    }
  }
}
