$display-breakpoints: null;

@mixin displayMxn($breakpoint: '') {
  $breakpoint-suffix: if($breakpoint == '', '', '\\@' + $breakpoint);

  .display-none#{$breakpoint-suffix} {
    display: none !important;
  }

  .display-block#{$breakpoint-suffix} {
    display: block !important;
  }

  .display-inlne-block#{$breakpoint-suffix} {
    display: inline-block !important;
  }

  .display-flex#{$breakpoint-suffix} {
    display: flex !important;
  }
}

@include displayMxn();

@each $key in $display-breakpoints {
  @include breakpoint($key) {
    @include displayMxn($key);
  }
}
