$margin-breakpoints: md, lg !default;

@mixin margin($breakpoint: '') {
  $breakpoint-suffix: if($breakpoint == '', '', '\\@' + $breakpoint);

  .margin-top-auto#{$breakpoint-suffix} {
    margin-top: auto !important;
  }

  .margin-right-auto#{$breakpoint-suffix} {
    margin-right: auto !important;
  }

  .margin-bottom-auto#{$breakpoint-suffix} {
    margin-bottom: auto !important;
  }

  .margin-left-auto#{$breakpoint-suffix} {
    margin-left: auto !important;
  }
}

@include margin();

@each $key in $margin-breakpoints {
  @include breakpoint($key) {
    @include margin($key);
  }
}
