.margin-top {
  margin-top: auto !important;
}

.margin-right {
  margin-right: auto !important;
}

.margin-bottom {
  margin-bottom: auto !important;
}

.margin-left {
  margin-left: auto !important;
}

@each $key, $value in $breakpoints {
  @include breakpoint($key) {
    .margin-top\@#{$key} {
      margin-top: auto !important;
    }

    .margin-right\@#{$key} {
      margin-right: auto !important;
    }

    .margin-bottom\@#{$key} {
      margin-bottom: auto !important;
    }

    .margin-left\@#{$key} {
      margin-left: auto !important;
    }
  }
}
