@mixin position($breakpoint: '') {
  $breakpoint-suffix: if($breakpoint == '', '', '\\@'+ $breakpoint);

  .position-relative#{$breakpoint-suffix} {
    position: relative !important;
  }

  .position-absolute#{$breakpoint-suffix} {
    position: absolute !important;
  }

  .position-fixed#{$breakpoint-suffix} {
    position: fixed !important;
  }

  .position-static#{$breakpoint-suffix} {
    position: static !important;
  }
}

@include position();

@each $key, $value in $breakpoints {
  @include breakpoint($key) {
    @include position($key);
  }
}
