$position-breakpoints: null !default;

@mixin positionMxn($breakpoint: '') {
  $breakpoint-suffix: if($breakpoint == '', '', '\\@' + $breakpoint);

  .position-relative#{$breakpoint-suffix} {
    position: relative !important;
  }

  .position-absolute#{$breakpoint-suffix} {
    position: absolute !important;
  }

  .position-fixed#{$breakpoint-suffix} {
    position: fixed !important;
  }

  .position-static#{$breakpoint-suffix} {
    position: static !important;
  }
}

@include positionMxn();

@each $key in $position-breakpoints {
  @include breakpoint($key) {
    @include positionMxn($key);
  }
}
