$size-breakpoints: null !default;

@mixin sizeMxn($breakpoint: '') {
  $breakpoint-suffix: if($breakpoint == '', '', '\\@' + $breakpoint);

  .width-25#{$breakpoint-suffix} {
    width: 25% !important;
  }

  .width-50#{$breakpoint-suffix} {
    width: 50% !important;
  }

  .width-75#{$breakpoint-suffix} {
    width: 75% !important;
  }

  .width-100#{$breakpoint-suffix} {
    width: 100% !important;
  }

  .width-auto#{$breakpoint-suffix} {
    width: auto !important;
  }

  .height-25#{$breakpoint-suffix} {
    height: 25% !important;
  }

  .height-50#{$breakpoint-suffix} {
    height: 50% !important;
  }

  .height-75#{$breakpoint-suffix} {
    height: 75% !important;
  }

  .height-100#{$breakpoint-suffix} {
    height: 100% !important;
  }

  .height-auto#{$breakpoint-suffix} {
    height: auto !important;
  }

  .min-height-25#{$breakpoint-suffix} {
    min-height: 25% !important;
  }

  .min-height-50#{$breakpoint-suffix} {
    min-height: 50% !important;
  }

  .min-height-75#{$breakpoint-suffix} {
    min-height: 75% !important;
  }

  .min-height-100#{$breakpoint-suffix} {
    min-height: 100% !important;
  }

  .min-height-auto#{$breakpoint-suffix} {
    min-height: auto !important;
  }
}

@include sizeMxn();

@each $key in $size-breakpoints {
  @include breakpoint($key) {
    @include sizeMxn($key);
  }
}
