@mixin spacing($breakpoint: '') {
  $breakpoint-suffix: if($breakpoint == '', '', '\\@'+ $breakpoint);

  .margin-auto#{$breakpoint-suffix} {
    margin: auto !important;
  }

  .margin-0#{$breakpoint-suffix} {
    margin: 0 !important;
  }

  .margin-1#{$breakpoint-suffix} {
    margin: $spacer-xs !important;
  }

  .margin-2#{$breakpoint-suffix} {
    margin: $spacer-sm !important;
  }

  .margin-3#{$breakpoint-suffix} {
    margin: $spacer-md !important;
  }

  .margin-4#{$breakpoint-suffix} {
    margin: $spacer-lg !important;
  }

  .margin-5#{$breakpoint-suffix} {
    margin: $spacer-xl !important;
  }

  .margin-top-auto#{$breakpoint-suffix} {
    margin-top: auto !important;
  }

  .margin-top-0#{$breakpoint-suffix} {
    margin-top: 0 !important;
  }

  .margin-top-1#{$breakpoint-suffix} {
    margin-top: $spacer-xs !important;
  }

  .margin-top-2#{$breakpoint-suffix} {
    margin-top: $spacer-sm !important;
  }

  .margin-top-3#{$breakpoint-suffix} {
    margin-top: $spacer-md !important;
  }

  .margin-top-4#{$breakpoint-suffix} {
    margin-top: $spacer-lg !important;
  }

  .margin-top-5#{$breakpoint-suffix} {
    margin-top: $spacer-xl !important;
  }

  .margin-right-auto#{$breakpoint-suffix} {
    margin-right: auto !important;
  }

  .margin-right-0#{$breakpoint-suffix} {
    margin-right: 0 !important;
  }

  .margin-right-1#{$breakpoint-suffix} {
    margin-right: $spacer-xs !important;
  }

  .margin-right-2#{$breakpoint-suffix} {
    margin-right: $spacer-sm !important;
  }

  .margin-right-3#{$breakpoint-suffix} {
    margin-right: $spacer-md !important;
  }

  .margin-right-4#{$breakpoint-suffix} {
    margin-right: $spacer-lg !important;
  }

  .margin-right-5#{$breakpoint-suffix} {
    margin-right: $spacer-xl !important;
  }

  .margin-bottom-auto#{$breakpoint-suffix} {
    margin-bottom: auto !important;
  }

  .margin-bottom-0#{$breakpoint-suffix} {
    margin-bottom: 0 !important;
  }

  .margin-bottom-1#{$breakpoint-suffix} {
    margin-bottom: $spacer-xs !important;
  }

  .margin-bottom-2#{$breakpoint-suffix} {
    margin-bottom: $spacer-sm !important;
  }

  .margin-bottom-3#{$breakpoint-suffix} {
    margin-bottom: $spacer-md !important;
  }

  .margin-bottom-4#{$breakpoint-suffix} {
    margin-bottom: $spacer-lg !important;
  }

  .margin-bottom-5#{$breakpoint-suffix} {
    margin-bottom: $spacer-xl !important;
  }

  .margin-left-auto#{$breakpoint-suffix} {
    margin-left: auto !important;
  }

  .margin-left-0#{$breakpoint-suffix} {
    margin-left: 0 !important;
  }

  .margin-left-1#{$breakpoint-suffix} {
    margin-left: $spacer-xs !important;
  }

  .margin-left-2#{$breakpoint-suffix} {
    margin-left: $spacer-sm !important;
  }

  .margin-left-3#{$breakpoint-suffix} {
    margin-left: $spacer-md !important;
  }

  .margin-left-4#{$breakpoint-suffix} {
    margin-left: $spacer-lg !important;
  }

  .margin-left-5#{$breakpoint-suffix} {
    margin-left: $spacer-xl !important;
  }

  .margin-negative-1#{$breakpoint-suffix} {
    margin: -$spacer-xs !important;
  }

  .margin-negative-2#{$breakpoint-suffix} {
    margin: -$spacer-sm !important;
  }

  .margin-negative-3#{$breakpoint-suffix} {
    margin: -$spacer-md !important;
  }

  .margin-negative-4#{$breakpoint-suffix} {
    margin: -$spacer-lg !important;
  }

  .margin-negative-5#{$breakpoint-suffix} {
    margin: -$spacer-xl !important;
  }

  .margin-top-negative-1#{$breakpoint-suffix} {
    margin-top: -$spacer-xs !important;
  }

  .margin-top-negative-2#{$breakpoint-suffix} {
    margin-top: -$spacer-sm !important;
  }

  .margin-top-negative-3#{$breakpoint-suffix} {
    margin-top: -$spacer-md !important;
  }

  .margin-top-negative-4#{$breakpoint-suffix} {
    margin-top: -$spacer-lg !important;
  }

  .margin-top-negative-5#{$breakpoint-suffix} {
    margin-top: -$spacer-xl !important;
  }

  .margin-right-negative-1#{$breakpoint-suffix} {
    margin-right: -$spacer-xs !important;
  }

  .margin-right-negative-2#{$breakpoint-suffix} {
    margin-right: -$spacer-sm !important;
  }

  .margin-right-negative-3#{$breakpoint-suffix} {
    margin-right: -$spacer-md !important;
  }

  .margin-right-negative-4#{$breakpoint-suffix} {
    margin-right: -$spacer-lg !important;
  }

  .margin-right-negative-5#{$breakpoint-suffix} {
    margin-right: -$spacer-xl !important;
  }

  .margin-bottom-negative-1#{$breakpoint-suffix} {
    margin-bottom: -$spacer-xs !important;
  }

  .margin-bottom-negative-2#{$breakpoint-suffix} {
    margin-bottom: -$spacer-sm !important;
  }

  .margin-bottom-negative-3#{$breakpoint-suffix} {
    margin-bottom: -$spacer-md !important;
  }

  .margin-bottom-negative-4#{$breakpoint-suffix} {
    margin-bottom: -$spacer-lg !important;
  }

  .margin-bottom-negative-5#{$breakpoint-suffix} {
    margin-bottom: -$spacer-xl !important;
  }

  .margin-left-negative-1#{$breakpoint-suffix} {
    margin-left: -$spacer-xs !important;
  }

  .margin-left-negative-2#{$breakpoint-suffix} {
    margin-left: -$spacer-sm !important;
  }

  .margin-left-negative-3#{$breakpoint-suffix} {
    margin-left: -$spacer-md !important;
  }

  .margin-left-negative-4#{$breakpoint-suffix} {
    margin-left: -$spacer-lg !important;
  }

  .margin-left-negative-5#{$breakpoint-suffix} {
    margin-left: -$spacer-xl !important;
  }

  .padding-0#{$breakpoint-suffix} {
    padding: 0 !important;
  }

  .padding-1#{$breakpoint-suffix} {
    padding: $spacer-xs !important;
  }

  .padding-2#{$breakpoint-suffix} {
    padding: $spacer-sm !important;
  }

  .padding-3#{$breakpoint-suffix} {
    padding: $spacer-md !important;
  }

  .padding-4#{$breakpoint-suffix} {
    padding: $spacer-lg !important;
  }

  .padding-5#{$breakpoint-suffix} {
    padding: $spacer-xl !important;
  }

  .padding-top-0#{$breakpoint-suffix} {
    padding-top: 0 !important;
  }

  .padding-top-1#{$breakpoint-suffix} {
    padding-top: $spacer-xs !important;
  }

  .padding-top-2#{$breakpoint-suffix} {
    padding-top: $spacer-sm !important;
  }

  .padding-top-3#{$breakpoint-suffix} {
    padding-top: $spacer-md !important;
  }

  .padding-top-4#{$breakpoint-suffix} {
    padding-top: $spacer-lg !important;
  }

  .padding-top-5#{$breakpoint-suffix} {
    padding-top: $spacer-xl !important;
  }

  .padding-right-0#{$breakpoint-suffix} {
    padding-right: 0 !important;
  }

  .padding-right-1#{$breakpoint-suffix} {
    padding-right: $spacer-xs !important;
  }

  .padding-right-2#{$breakpoint-suffix} {
    padding-right: $spacer-sm !important;
  }

  .padding-right-3#{$breakpoint-suffix} {
    padding-right: $spacer-md !important;
  }

  .padding-right-4#{$breakpoint-suffix} {
    padding-right: $spacer-lg !important;
  }

  .padding-right-5#{$breakpoint-suffix} {
    padding-right: $spacer-xl !important;
  }

  .padding-bottom-0#{$breakpoint-suffix} {
    padding-bottom: 0 !important;
  }

  .padding-bottom-1#{$breakpoint-suffix} {
    padding-bottom: $spacer-xs !important;
  }

  .padding-bottom-2#{$breakpoint-suffix} {
    padding-bottom: $spacer-sm !important;
  }

  .padding-bottom-3#{$breakpoint-suffix} {
    padding-bottom: $spacer-md !important;
  }

  .padding-bottom-4#{$breakpoint-suffix} {
    padding-bottom: $spacer-lg !important;
  }

  .padding-bottom-5#{$breakpoint-suffix} {
    padding-bottom: $spacer-xl !important;
  }

  .padding-left-0#{$breakpoint-suffix} {
    padding-left: 0 !important;
  }

  .padding-left-1#{$breakpoint-suffix} {
    padding-left: $spacer-xs !important;
  }

  .padding-left-2#{$breakpoint-suffix} {
    padding-left: $spacer-sm !important;
  }

  .padding-left-3#{$breakpoint-suffix} {
    padding-left: $spacer-md !important;
  }

  .padding-left-4#{$breakpoint-suffix} {
    padding-left: $spacer-lg !important;
  }

  .padding-left-5#{$breakpoint-suffix} {
    padding-left: $spacer-xl !important;
  }
}

@include spacing();

@each $key, $value in $breakpoints {
  @include breakpoint($key) {
    @include spacing($key);
  }
}
