@mixin text-align($breakpoint: '') {
  $breakpoint-suffix: if($breakpoint == '', '', '\\@'+ $breakpoint);

  .text-left#{$breakpoint-suffix} {
    text-align: left !important;
  }

  .text-center#{$breakpoint-suffix} {
    text-align: center !important;
  }

  .text-right#{$breakpoint-suffix} {
    text-align: right !important;
  }

  .text-justify#{$breakpoint-suffix} {
    text-align: justify !important;
  }
}

@include text-align();

@each $key, $value in $breakpoints {
  @include breakpoint($key) {
    @include text-align($key);
  }
}
