$text-align-prop-values: 'left', 'center', 'right', 'justify' !default;

@mixin text-align($prop-value, $breakpoint: '') {
  $breakpoint-suffix: if($breakpoint == '', '', '\\@' + $breakpoint);

  .text-#{$prop-value + $breakpoint-suffix} {
    text-align: #{$prop-value} !important;
  }
}

@each $value in $text-align-prop-values {
  @include text-align($value);
}

@each $key, $value in $breakpoints {
  @include breakpoint($key) {
    @each $value in $text-align-prop-values {
      @include text-align($value, $key);
    }
  }
}
