// screen readers only
.sr-only {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

$visibility-breakpoints: null !default;

@mixin visibility($breakpoint: '') {
  $breakpoint-suffix: if($breakpoint == '', '', '\\@' + $breakpoint);

  .visibility-hidden#{$breakpoint-suffix} {
    visibility: hidden !important;
  }

  .visibility-visible#{$breakpoint-suffix} {
    visibility: visible !important;
  }
}

@include visibility();

@each $key in $visibility-breakpoints {
  @include breakpoint($key) {
    @include visibility($key);
  }
}
