$list-group-margin: 0 !default;

$list-group-item-padding: $spacer !default;
$list-group-item-border: 1px solid $dark !default;

$list-group-item-action-bg: $button-bg !default;
$list-group-item-action-color: $button-color !default;
$list-group-item-action-hover-bg: $button-hover-bg !default;
$list-group-item-action-hover-color: $button-hover-color !default;

$list-group-item-action-text-decoration: none !default;

.c-list-group {
    display: flex;
    flex-direction: column;
    margin: $list-group-margin;
}

.c-list-group__item {
    position: relative;
    display: block;
    padding: $list-group-item-padding;
    border: $list-group-item-border;
    margin-bottom: -1px;
}

.c-list-group__item--action {
    background: $list-group-item-action-bg;
    color: $list-group-item-action-color;
    cursor: pointer;
    text-align: left;
    text-decoration: $list-group-item-action-text-decoration;

    @include color-swap-on-hover(
        $list-group-item-action-color $list-group-item-action-bg,
        $list-group-item-action-hover-color $list-group-item-action-hover-bg,
        $link-trans-speed
    );

    &:visited {
        @include color-swap-on-hover(
            $list-group-item-action-color $list-group-item-action-bg,
            $list-group-item-action-hover-color $list-group-item-action-hover-bg,
            $link-trans-speed
        );
    }
}
