// Components: Accordion

$accordion-item-border: 1px solid $dark !default;
$accordion-toggle-padding: $spacer !default;
$accordion-content-padding: 0 $spacer $spacer !default;

.accordion {
  margin: 0;
  list-style: none;
}

.accordion__item {
  &:not(:first-child) {
    border-top: $accordion-item-border;
  }
}

.accordion__toggle {
  display: block;
  padding: $accordion-toggle-padding;
}

.accordion__content {
  display: none;
  padding: $accordion-content-padding;

  .is-active > & {
    display: block;
  }
}
