.grid {
  display: grid;
  grid-gap: $column-spacing;
  grid-template-columns: repeat($grid-columns, 1fr);
}

.cell {
  grid-column: span $grid-columns;
}

@each $key, $value in $column-breakpoint-spacings {
  @if map-has-key($column-breakpoint-spacings, $key) {
    @include breakpoint($key) {
      .grid {
        grid-gap: map-get($column-breakpoint-spacings, $key);
      }
    }
  }
}

@mixin grid-col($breakpoint: '') {
  $breakpoint-suffix: if($breakpoint == '', '', '\\@' + $breakpoint);

  @for $i from 1 through $grid-columns {
    .cell-#{$i + $breakpoint-suffix} {
      grid-column: span #{$i};
    }
  }
}

@include grid-col();

@each $key, $value in $breakpoints {
  @include breakpoint($key) {
    @include grid-col($key);
  }
}
