$accordion-item-border: 1px solid $black !default;
$accordion-toggle-padding: $spacer !default;
$accordion-content-padding: $spacer !default;

.accordion {
  margin: 0;
  list-style: none;
}

.accordion__item {
  &:not(:first-child) {
    border-top: $accordion-item-border;
  }
}

.accordion__toggle {
  @include font-size-lg;

  display: block;
  padding: $accordion-toggle-padding;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

.accordion__title {
  @include font-size-lg;

  margin: 0;
}

.accordion__content {
  display: none;
  padding: $accordion-content-padding;

  .is-active > & {
    display: block;
  }
}
