$button-display: inline-flex !default;
$button-padding: ($spacer / 2) $spacer !default;
$button-min-width: $min-touch-size !default;
$button-min-height: 1em !default;
$button-border: 0 !default;
$button-cursor: pointer !default;
$button-bg: $azure-radiance !default;
$button-color: $light !default;
$button-hover-bg: darken($azure-radiance, 10%) !default;
$button-hover-color: $light !default;
$button-visited-bg: $button-bg !default;
$button-visited-color: $light !default;
$button-visited-hover-bg: $button-hover-bg !default;
$button-visited-hover-color: $button-hover-color !default;
$button-focus-bg-color: #ffcd3d !default;
$button-focus-box-shadow: 0 2px #0b0c0c !default;
$button-focus-text-color: #0b0c0c !default;
$button-active-bg: $button-hover-bg !default;
$button-active-color: $button-hover-color !default;
$button-active-hover-bg: $button-hover-bg !default;
$button-active-hover-color: $button-hover-color !default;
$button-text-decoration: none !default;
$button-icon-size: 24px !default;
$button-icon-margin: 0 ($spacer / 2) 0 0 !default;
$button-icon-fill: $button-color !default;

a.button,
.button {
  @include font-size-base;

  position: relative;
  display: $button-display;
  min-width: $button-min-width;
  min-height: $button-min-height;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: $button-padding;
  border: $button-border;
  background: $button-bg;
  color: $button-color;
  cursor: $button-cursor;
  outline: none;
  text-decoration: $button-text-decoration;
  vertical-align: baseline;

  @include color-swap-on-hover(
    $button-color $button-bg,
    $button-hover-color $button-hover-bg,
    $link-trans-speed
  );

  &:focus {
    background-color: $button-focus-bg-color;
    box-shadow: $button-focus-box-shadow;
    color: $button-focus-text-color;

    .icon {
      svg {
        fill: $button-focus-text-color;
      }
    }
  }

  &.is-active {
    @include color-swap-on-hover(
      $button-active-color $button-active-bg,
      $button-active-hover-color $button-active-hover-bg,
      $link-trans-speed
    );
  }

  &--block {
    display: flex;
  }

  .icon {
    width: $button-icon-size;
    height: $button-icon-size;
    margin: $button-icon-margin;

    &:last-child {
      margin: 0;
    }

    svg {
      fill: $button-icon-fill;
    }
  }
}

.button__text {
  display: inline-block;
}
