$card-border: 1px solid $gray !default;
$card-bg: $white !default;
$card-header-padding: $spacer !default;
$card-header-bg: $gray !default;
$card-header-color: $black !default;
$card-body-padding: $spacer !default;
$card-title-margin: 0 0 $spacer !default;
$card-title-font-weight: $font-weight-bold !default;

.card {
  display: flex;
  flex-direction: column;
  border: $card-border;
  background: $card-bg;
}

.card__header {
  padding: $card-header-padding;
  background: $card-header-bg;
  color: $card-header-color;
}

.card__img {
  width: 100%;
}

.card__body {
  flex: 1 1 auto;
  padding: $card-body-padding;
}

.card__title {
  margin: $card-title-margin;
  font-weight: $card-title-font-weight;
}
