$form-group-margin: $spacer !default;
$form-label-margin: $spacer / 2 !default;
$form-control-padding: $spacer / 2 !default;
$form-control-font-size: $base-font-size !default;

.form-group {
  margin-bottom: $form-group-margin;
}

.form-label {
  display: inline-block;
  margin-bottom: $form-label-margin;
  cursor: pointer;
}

.c-form-required {
  display: inline-block;
  color: red;

  &::before {
    display: inline-block;
    content: '\2731';
    font-size: 10px;
    font-weight: 700;
    vertical-align: super;
  }
}

.form-control {
  display: block;
  width: 100%;
  padding: $form-control-padding;
  font-size: $form-control-font-size;
}

.form-control--check,
.form-control--radio {
  display: inline-block;
  width: auto;
}
