$list-group-margin: 0 !default;
$list-group-item-padding: $spacer !default;
$list-group-item-border: 1px solid $gray !default;

.list-group {
  display: flex;
  flex-direction: column;
  margin: $list-group-margin;
}

.list-group__item {
  display: block;
  padding: $list-group-item-padding;
  margin-bottom: -1px;
  border: $list-group-item-border;
}
