$media-body-padding: $spacer !default;

.media {
  display: flex;
  flex-direction: column;
}

.media__body {
  padding: $media-body-padding 0;
}

.media__title {
  margin: 0 0 $media-body-padding;
}

@include md {
  .media {
    flex-direction: row;
  }

  .media__video {
    flex: 0 0 66%;
  }

  .media__body {
    padding: 0 $media-body-padding;
  }
}
