$modal-width: 600px !default;
$modal-background-color: rgba($white, 0.6) !default;
$modal-content-border: 1px solid $gray !default;
$modal-content-background-color: $white !default;
$modal-content-padding: $spacer !default;
$modal-header-background-color: $gray !default;
$modal-footer-border: 1px solid $gray !default;

.modal {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background: $modal-background-color;

  &.is-active {
    display: flex;
  }
}

.modal__content {
  width: $modal-width;
  align-self: center;
  margin: 0 auto;
  border: $modal-content-border;
  background: $modal-content-background-color;
  justify-self: center;
}

.modal__content--fluid {
  width: 100%;
}

.modal__content--position-top {
  align-self: flex-start;
}

.modal__content--position-right {
  margin-right: 0;
  margin-left: auto;
}

.modal__content--position-bottom {
  align-self: flex-end;
}

.modal__content--position-left {
  margin-right: auto;
  margin-left: 0;
}

.modal__header {
  padding: $modal-content-padding;
  background-color: $modal-header-background-color;
}

.modal__body {
  padding: $modal-content-padding;
}

.modal__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: $modal-content-padding;
  border-top: $modal-footer-border;

  .button {
    flex: none;
  }
}
