$navbar-padding: $spacer-sm $spacer;

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: $spacer-xs $spacer;
  background: $medium;

  &.has-nav-open {
    .navbar__nav {
      display: flex;
    }
  }
}

.navbar__brand {
  flex: 0 0 auto;
  margin-right: $spacer;
}

.navbar__toggler {
  padding: $spacer-xs $spacer-sm;
  border: 1px solid $dark;
  background: none;
}

.navbar__toggler-icon {
  position: relative;
  display: block;
  width: 26px;
  height: 22px;
  flex: 0 0 auto;
  padding: 0;
  cursor: pointer;
  outline: none;

  span {
    position: absolute;
    right: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: $dark;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }

    &:nth-child(3) {
      bottom: 0;
    }

    .has-nav-open & {
      &:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }

      &:nth-child(2) {
        top: 0;
        opacity: 0;
      }

      &:nth-child(3) {
        top: 50%;
        bottom: inherit;
        transform: translateY(-50%) rotate(-45deg);
      }
    }
  }
}

.navbar__nav {
  display: none;
  flex-direction: column;
  align-items: flex-start;
}

@include md {
  .navbar__toggler {
    display: none;
  }

  .navbar__nav {
    display: flex;
    width: auto;
    flex: 1 0 auto;
    flex-direction: row;
    align-items: center;
  }
}
