.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: ($spacer / 2) $spacer;
  background: $medium;

  &.has-nav-open {
    .navbar__nav {
      display: flex;
    }
  }
}

.navbar__brand {
  flex: 0 0 auto;
  margin-right: $spacer;
}

.navbar__toggler {
  flex: 0 0 auto;
}

.navbar__nav {
  display: none;
  flex-direction: column;
  align-items: flex-start;
}

@include md {
  .navbar__toggler {
    display: none;
  }

  .navbar__nav {
    display: flex;
    width: auto;
    flex: 1 0 auto;
    flex-direction: row;
    align-items: center;
  }
}
