// Components: Pagination

$pagination-item-padding: $spacer / 2 !default;
$pagination-item-border: 1px solid $medium !default;
$pagination-active-bg: $medium !default;
$pagination-disabled-color: $medium !default;

.pagination {
  display: flex;
  margin: 0;
  list-style: none;
}

.pagination__item {
  position: relative;
  padding: $pagination-item-padding;
  border: $pagination-item-border;

  &.is-active {
    background: $pagination-active-bg;
  }

  &.is-disabled {
    .pagination__link {
      color: $pagination-disabled-color;
    }
  }
}

.pagination__link {
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
  }
}
