// Elements: Headings

$heading-margin: ($spacer/2) 0 ($spacer + $spacer/2) !default;
$heading-font: $font !default;
$heading-font-weight: $font-weight-bold !default;
$heading-color: inherit !default;
$heading-small-size: 75% !default;

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: $heading-margin;
  color: $heading-color;
  font-family: $heading-font;
  font-weight: $heading-font-weight;

  small {
    font-size: $heading-small-size;
  }
}

h1 {
  @include trafalgar;
}

h2 {
  @include paragon;
}

h3 {
  @include double-pica;
}

h4 {
  @include great-primer;
}

h5 {
  @include pica;
}

h6 {
  @include long-primer;
}
