// Settings

// Options
$healthcheck: false !default;

// Sizes
$min-touch-size: 44px !default;
$site-max-width: 1200px !default;
$spacer: 1rem !default;

// Colours
$light: #fff !default;
$dark: #000 !default;
$primary: #007bff !default;
$secondary: #e52b50 !default;

// Fonts
$font: Helvetica, Arial, sans-serif !default;
$font-fl: Helvetica, Arial, sans-serif !default;
$font-monospace: 'Inconsolata', 'Menlo', 'Consolas', 'Bitstream Vera Sans Mono',
    'Courier', monospace !default;
$font-size: 16px !default;

$font-weight-normal: 400 !default;
$font-weight-medium: 600 !default;
$font-weight-bold: 700 !default;

// Media queries
$mq-breakpoints: (
    xxs: 320px,
    xs: 480px,
    sm: 640px,
    md: 768px,
    lg: 960px,
    xl: 1180px,
    xxl: 1400px
) !default;
