// Settings

// Options
$healthcheck: false !default;

// Sizes
$min-touch-size: 44px !default;
$site-max-width: 1200px !default;
$spacer: 1rem !default;

// Colours
$light: #fff !default;
$medium: #afb1b8 !default;
$dark: #000 !default;
$primary: #007bff !default;
$secondary: #e52b50 !default;

// Fonts
$font: Helvetica, Arial, sans-serif !default;
$font-loaded: Helvetica, Arial, sans-serif !default;
$font-monospace: 'Inconsolata', 'Menlo', 'Consolas', 'Bitstream Vera Sans Mono',
    'Courier', monospace !default;
$font-size: 16px !default;

$font-weight-normal: 400 !default;
$font-weight-medium: 600 !default;
$font-weight-bold: 700 !default;

// Breakpoints
$breakpoints: (
    xxs: 320px,
    xs: 480px,
    sm: 640px,
    md: 768px,
    lg: 960px,
    xl: 1180px,
    xxl: 1400px
) !default;

$type-settings: (
    'canon': (
        'group-a': (
            'font-size': 28px,
            'line-height': 32px
        ),
        'group-b': (
            'font-size': 32px,
            'line-height': 36px
        ),
        'group-c': (
            'font-size': 52px,
            'line-height': 56px
        )
    ),
    'trafalgar': (
        'group-a': (
            'font-size': 20px,
            'line-height': 24px
        ),
        'group-b': (
            'font-size': 24px,
            'line-height': 28px
        ),
        'group-c': (
            'font-size': 36px,
            'line-height': 40px
        )
    ),
    'paragon': (
        'group-a': (
            'font-size': 20px,
            'line-height': 24px
        ),
        'group-b': (
            'font-size': 22px,
            'line-height': 26px
        ),
        'group-c': (
            'font-size': 30px,
            'line-height': 34px
        )
    ),
    'double-pica': (
        'group-a': (
            'font-size': 20px,
            'line-height': 24px
        ),
        'group-c': (
            'font-size': 26px,
            'line-height': 30px
        )
    ),
    'great-primer': (
        'group-a': (
            'font-size': 18px,
            'line-height': 22px
        ),
        'group-c': (
            'font-size': 21px,
            'line-height': 24px
        )
    ),
    'pica': (
        'group-a': (
            'font-size': 15px,
            'line-height': 20px
        ),
        'group-b': (
            'font-size': 16px,
            'line-height': 20px
        ),
        'group-c': (
            'font-size': 18px,
            'line-height': 22px
        )
    ),
    'long-primer': (
        'group-a': (
            'font-size': 15px,
            'line-height': 18px
        ),
        'group-c': (
            'font-size': 15px,
            'line-height': 20px
        )
    ),
    'brevier': (
        'group-a': (
            'font-size': 14px,
            'line-height': 16px
        ),
        'group-b': (
            'font-size': 14px,
            'line-height': 18px
        )
    ),
    'minion': (
        'group-a': (
            'font-size': 12px,
            'line-height': 16px
        ),
        'group-c': (
            'font-size': 13px,
            'line-height': 16px
        )
    ),
    'body-copy': (
        'group-a': (
            'font-size': 15px,
            'line-height': 20px
        ),
        'group-b': (
            'font-size': 16px,
            'line-height': 22px
        ),
        'group-c': (
            'font-size': 18px,
            'line-height': 24px
        )
    )
) !default;
//

// Grid
$grid-columns: 12 !default;
$single-spacing: 1rem !default;
