{% extends 'layouts/giza.html' %}

{% block body %}
    <ul class="c-accordion" data-module="Accordion">
        <li class="c-accordion__item is-active">
            <a href="#" class="c-accordion__toggle">Accordion 1</a>
            <div class="c-accordion__content">
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, id venenatis accumsan condimentum platea pharetra convallis phasellus, fringilla libero ridiculus faucibus enim parturient.</p>
            </div>
        </li>
        <li class="c-accordion__item">
            <a href="#" class="c-accordion__toggle">Accordion 2</a>
            <div class="c-accordion__content">
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, id venenatis accumsan condimentum platea pharetra convallis phasellus, fringilla libero ridiculus faucibus enim parturient.</p>
            </div>
        </li>
    </ul>
{% endblock %}
