{% extends 'lab-side-content.html' %}

{% set AppParentId = "components" %}
{% set AppCurrentId = "list-group" %}

{% block content %}
  <h1>List Group</h1>

  <p class="font-size-md">Add a list of content to your page supporting lists, with links or custom content.</p>

  <h3>Usage</h3>

  {{LabExample(AppParentId, AppCurrentId)}}
  {{LabCode('html', '
  <ul class="list-group">
    <li class="list-group__item">
      List group item
    </li>
    <li class="list-group__item">
      <a href="#">Another list group item with a link</a>
    </li>
    <li class="list-group__item">
      Another list group item with just text
    </li>
  </ul>
  ')}}

  <h3>Content</h3>

  {{LabExample(AppParentId, AppCurrentId, 'content')}}
  {{LabCode('html', '
  <ul class="list-group">
    <li class="list-group__item">
      <div class="media">
        <div class="media__image">
          <img src="//placehold.it/64x64" alt="">
        </div>
        <div class="media__body">
          <h5 class="media__title">Heading</h5>
          <p>Some text adding to the card title and to add volume to the card\'s content.</p>
        </div>
      </div>
    </li>
    <li class="list-group__item">
      <div class="media">
        <div class="media__image">
          <img src="//placehold.it/64x64" alt="">
        </div>
        <div class="media__body">
          <h5 class="media__title">Heading</h5>
          <p>Some text adding to the card title and to add volume to the card\'s content.</p>
        </div>
      </div>
    </li>
  </ul>
  ')}}
{% endblock %}
