{% extends 'layouts/giza.html' %}

{% block body %}
    <div class="o-grid">
        <div class="o-grid-col-span-3 c-demo">3 columns</div>
        <div class="o-grid-col-span-3 c-demo">3 columns</div>
        <div class="o-grid-col-span-3 c-demo">3 columns</div>
        <div class="o-grid-col-span-3 c-demo">3 columns</div>
    </div>

    <br>

    <div class="o-grid">
        <div class="o-grid-col-span-4 c-demo">4 columns</div>
        <div class="o-grid-col-span-4 c-demo">4 columns</div>
        <div class="o-grid-col-span-4 c-demo">4 columns</div>
    </div>

    <br>

    <div class="o-grid">
        <div class="o-grid-col-span-6 c-demo">6 columns</div>
        <div class="o-grid-col-span-6 c-demo">6 columns</div>
    </div>

    <br>

    <div class="o-grid">
        <div class="o-grid-col-span-12 c-demo">12 columns</div>
    </div>

    <hr>

    <h3>Responsive grid</h3>

    <div class="o-grid">
        <div class="o-grid-col-span-12 o-grid-col-span-6@md c-demo">6 columns @ medium</div>
        <div class="o-grid-col-span-12 o-grid-col-span-6@md c-demo">6 columns @ medium</div>
    </div>

{% endblock %}
