{% extends 'layouts/giza.html' %}

{% from 'macros/icon.html' import icon %}

{% block body %}
    {{icon('archive')}}
    {{icon('arrow-down')}}
    {{icon('arrow-left')}}
    {{icon('arrow-right')}}
    {{icon('arrow-up')}}
    {{icon('bell')}}
    {{icon('calendar')}}
    {{icon('camera')}}
    {{icon('cart')}}
    {{icon('chart')}}
    {{icon('check')}}
    {{icon('chevron-down')}}
    {{icon('chevron-left')}}
    {{icon('chevron-right')}}
    {{icon('chevron-up')}}
    {{icon('clock')}}
    {{icon('close')}}
    {{icon('comment')}}
    {{icon('credit-card')}}
    {{icon('envelope')}}
    {{icon('exclamation')}}
    {{icon('external-link')}}
    {{icon('eye')}}
    {{icon('facebook')}}
    {{icon('gear')}}
    {{icon('github')}}
    {{icon('heart')}}
    {{icon('image')}}
    {{icon('instagram')}}
    {{icon('like')}}
    {{icon('link')}}
    {{icon('linkedin')}}
    {{icon('location')}}
    {{icon('lock')}}
    {{icon('minus')}}
    {{icon('paperclip')}}
    {{icon('pencil')}}
    {{icon('pinterest')}}
    {{icon('play')}}
    {{icon('plus')}}
    {{icon('question')}}
    {{icon('redo')}}
    {{icon('refresh')}}
    {{icon('retweet')}}
    {{icon('search')}}
    {{icon('share-apple')}}
    {{icon('share-google')}}
    {{icon('skype')}}
    {{icon('star')}}
    {{icon('tag')}}
    {{icon('trash')}}
    {{icon('tumblr')}}
    {{icon('twitter')}}
    {{icon('undo')}}
    {{icon('unlock')}}
    {{icon('user')}}
    {{icon('vimeo')}}
    {{icon('youtube')}}
{% endblock %}
