{% extends 'layouts/giza.html' %}

{% block body %}
  <div style="padding: 2rem; border: 2rem solid #f2f2f2;">
    <ul class="list-group" style="max-width: 24rem;">
      <li class="list-group__item">
        <a class="list-group__link" href="accordion-nav.html">Accordion nav</a>
      </li>
      <li class="list-group__item">
        <a class="list-group__link" href="accordion.html">Accordion</a>
      </li>
      <li class="list-group__item">
        <a class="list-group__link" href="button.html">Button</a>
      </li>
      <li class="list-group__item">
        <a class="list-group__link" href="card.html">Card</a>
      </li>
      <li class="list-group__item">
        <a class="list-group__link" href="code.html">Code</a>
      </li>
      <li class="list-group__item">
        <a class="list-group__link" href="container.html">Container</a>
      </li>
      <li class="list-group__item">
        <a class="list-group__link" href="dropdown-nav.html">Dropdown nav</a>
      </li>
      <li class="list-group__item">
        <a class="list-group__link" href="flex-grid.html">Flex grid</a>
      </li>
      <li class="list-group__item">
        <a class="list-group__link" href="forms.html">Forms</a>
      </li>
      <li class="list-group__item">
        <a class="list-group__link" href="grid.html">Grid</a>
      </li>
      <li class="list-group__item">
        <a class="list-group__link" href="hamburger.html">Hamburger</a>
      </li>
      <li class="list-group__item">
        <a class="list-group__link" href="headings.html">Headings</a>
      </li>
      <li class="list-group__item">
        <a class="list-group__link" href="icons.html">Icons</a>
      </li>
      <li class="list-group__item">
        <a class="list-group__link" href="list-group.html">List group</a>
      </li>
      <li class="list-group__item">
        <a class="list-group__link" href="lists.html">Lists</a>
      </li>
      <li class="list-group__item">
        <a class="list-group__link" href="nav.html">Nav</a>
      </li>
      <li class="list-group__item">
        <a class="list-group__link" href="pagination.html">Pagination</a>
      </li>
      <li class="list-group__item">
        <a class="list-group__link" href="site.html">Site</a>
      </li>
      <li class="list-group__item">
        <a class="list-group__link" href="size.html">Size</a>
      </li>
      <li class="list-group__item">
        <a class="list-group__link" href="tables.html">Tables</a>
      </li>
      <li class="list-group__item">
        <a class="list-group__link" href="text-align.html">Text align</a>
      </li>
      <li class="list-group__item">
        <a class="list-group__link" href="toggle.html">Toggle</a>
      </li>
      <li class="list-group__item">
        <a class="list-group__link" href="typography.html">Typography</a>
      </li>
    </ul>
  </div>
{% endblock %}
