{% extends 'layouts/giza.html' %}

{% block body %}
  <div style="padding: 2rem; border: 2rem solid #f2f2f2;">
    <div class="list-group" style="max-width: 24rem;">
      <a class="list-group__item list-group__item--action" href="accordion-nav.html">Accordion nav</a>
      <a class="list-group__item list-group__item--action" href="accordion.html">Accordion</a>
      <a class="list-group__item list-group__item--action" href="button.html">Button</a>
      <a class="list-group__item list-group__item--action" href="card.html">Card</a>
      <a class="list-group__item list-group__item--action" href="code.html">Code</a>
      <a class="list-group__item list-group__item--action" href="container.html">Container</a>
      <a class="list-group__item list-group__item--action" href="dropdown-nav.html">Dropdown nav</a>
      <a class="list-group__item list-group__item--action" href="flex-grid.html">Flex grid</a>
      <a class="list-group__item list-group__item--action" href="forms.html">Forms</a>
      <a class="list-group__item list-group__item--action" href="grid.html">Grid</a>
      <a class="list-group__item list-group__item--action" href="hamburger.html">Hamburger</a>
      <a class="list-group__item list-group__item--action" href="headings.html">Headings</a>
      <a class="list-group__item list-group__item--action" href="icons.html">Icons</a>
      <a class="list-group__item list-group__item--action" href="list-group.html">List group</a>
      <a class="list-group__item list-group__item--action" href="lists.html">Lists</a>
      <a class="list-group__item list-group__item--action" href="nav.html">Nav</a>
      <a class="list-group__item list-group__item--action" href="pagination.html">Pagination</a>
      <a class="list-group__item list-group__item--action" href="site.html">Site</a>
      <a class="list-group__item list-group__item--action" href="size.html">Size</a>
      <a class="list-group__item list-group__item--action" href="tables.html">Tables</a>
      <a class="list-group__item list-group__item--action" href="text-align.html">Text align</a>
      <a class="list-group__item list-group__item--action" href="toggle.html">Toggle</a>
      <a class="list-group__item list-group__item--action" href="typography.html">Typography</a>
    </div>
  </div>
{% endblock %}
