{% extends 'layouts/giza.html' %}

{% block body %}
    <h2>Menu</h2>
    <ul class="c-menu">
        <li class="c-menu__item">
            <span class="c-menu__title">Menu item</span>
        </li>
        <li class="c-menu__item">
            <a href="c-menu__link">Menu link</a>
        </li>
    </ul>

    <h2>Vertical Menu</h2>
    <ul class="c-menu c-menu--vertical">
        <li class="c-menu__item">
            <span class="c-menu__title">Menu item</span>
        </li>
        <li class="c-menu__item">
            <a href="c-menu__link">Menu link</a>
        </li>
    </ul>
{% endblock %}
