{% extends 'layouts/giza.html' %}

{% block body %}
  <ul class="nav">
    <li class="nav__item">
      <a class="nav__link is-active" href="#">Active</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Link</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Link</a>
    </li>
    <li class="nav__item">
      <a class="nav__link is-disabled" href="#">Disabled</a>
    </li>
  </ul>

  <h3>Vertical</h3>

  <ul class="nav nav--vertical">
    <li class="nav__item">
      <a class="nav__link is-active" href="#">Active</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Link</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Link</a>
    </li>
    <li class="nav__item">
      <a class="nav__link is-disabled" href="#">Disabled</a>
    </li>
  </ul>

  <h3>Horizontal</h3>

  <ul class="nav nav--vertical">
    <li class="nav__item">
      <a class="nav__link is-active" href="#">Active</a>
      <ul class="nav nav--horizontal">
        <li class="nav__item">
          <a class="nav__link is-active" href="#">Active</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Link</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Link</a>
        </li>
        <li class="nav__item">
          <a class="nav__link is-disabled" href="#">Disabled</a>
        </li>
      </ul>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Link</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Link</a>
    </li>
    <li class="nav__item">
      <a class="nav__link is-disabled" href="#">Disabled</a>
    </li>
  </ul>

  <h3>Nested</h3>

  <ul class="nav nav--vertical">
    <li class="nav__item">
      <a class="nav__link is-active" href="#">Active</a>
      <ul class="nav nav--vertical nav--nested">
        <li class="nav__item">
          <a class="nav__link" href="#">Link</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Link</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Link</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Link</a>
        </li>
      </ul>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Link</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Link</a>
    </li>
    <li class="nav__item">
      <a class="nav__link is-disabled" href="#">Disabled</a>
    </li>
  </ul>

  <h3>Responsive</h3>

  <h4>@sm</h4>

  <ul class="nav nav--vertical nav--horizontal@sm">
    <li class="nav__item">
      <a class="nav__link is-active" href="#">Active</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Link</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Link</a>
    </li>
    <li class="nav__item">
      <a class="nav__link is-disabled" href="#">Disabled</a>
    </li>
  </ul>

  <h4>@md</h4>

  <ul class="nav nav--vertical nav--horizontal@md">
    <li class="nav__item">
      <a class="nav__link is-active" href="#">Active</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Link</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Link</a>
    </li>
    <li class="nav__item">
      <a class="nav__link is-disabled" href="#">Disabled</a>
    </li>
  </ul>

  <h4>@lg</h4>

  <ul class="nav nav--vertical nav--horizontal@lg">
    <li class="nav__item">
      <a class="nav__link is-active" href="#">Active</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Link</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Link</a>
    </li>
    <li class="nav__item">
      <a class="nav__link is-disabled" href="#">Disabled</a>
    </li>
  </ul>

  <h4>@xl</h4>

  <ul class="nav nav--vertical nav--horizontal@xl">
    <li class="nav__item">
      <a class="nav__link is-active" href="#">Active</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Link</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Link</a>
    </li>
    <li class="nav__item">
      <a class="nav__link is-disabled" href="#">Disabled</a>
    </li>
  </ul>

  <h4>@xxl</h4>

  <ul class="nav nav--vertical nav--horizontal@xxl">
    <li class="nav__item">
      <a class="nav__link is-active" href="#">Active</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Link</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Link</a>
    </li>
    <li class="nav__item">
      <a class="nav__link is-disabled" href="#">Disabled</a>
    </li>
  </ul>
{% endblock %}
