{% extends 'layouts/giza.html' %}

{% block body %}
    <ul class="c-pagination">
        <li class="c-pagination__item is-disabled">
            <span class="c-pagination__link" href="#">Previous</span>
        </li>
        <li class="c-pagination__item">
            <a class="c-pagination__link" href="#">1</a>
        </li>
        <li class="c-pagination__item is-active">
            <a class="c-pagination__link" href="#">2</a>
        </li>
        <li class="c-pagination__item">
            <a class="c-pagination__link" href="#">3</a>
        </li>
        <li class="c-pagination__item">
            <a class="c-pagination__link" href="#">Next</a>
        </li>
    </ul>
{% endblock %}
