{% extends 'lab-side-content.html' %}

{% set AppParentId = "utilities" %}
{% set AppCurrentId = "display" %}

{% block content %}

  <h1>Display</h1>

  {{ LabCssTable([
    { "class": ".display-none", "rule": "display: none;"},
    { "class": ".display-block", "rule": "display: block;"},
    { "class": ".display-inline-block", "rule": "display: inline-block;"},
    { "class": ".display-flex", "rule": "display: flex;"}
  ])}}

  <h2>Media Queries</h2>

  <p>
    <code>display-block@md</code>
  </p>

{% endblock %}
