{% extends 'layouts/giza.html' %}

{% block body %}
  <ul class="pagination">
    <li class="pagination__item is-disabled">
      <span class="pagination__link" href="#">Previous</span>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#">1</a>
    </li>
    <li class="pagination__item is-active">
      <a class="pagination__link" href="#">2</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#">3</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#">Next</a>
    </li>
  </ul>
{% endblock %}
