{% from 'lab-nav-link.html' import LabNavLink %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{settings.meta_title}}</title>
    <link rel="stylesheet" href="{{base_url}}{{settings.lab_stylesheet}}">
    <script>
      if (document.documentElement) {
        document
          .documentElement
          .classList
          .add('js');
      }
    </script>
  </head>
  <body class="display-flex flex-column min-height-100{{settings.theme}}" data-module="Sticky" data-sticky-container="data-sticky-container">
    <header class="app-header">
      <div class="container app-header__inner">
        <a class="app-logo" href="index.html">
          <img class="app-logo__image" src="{{base_url}}{{settings.logo.src}}" alt="{{settings.logo.description}}">
        </a>
        <span class="app-version">v{{version}}</span>
        {% if download %}
          <a class="button app-download" href="{{download}}">Download</a>
        {% endif %}
      </div>
    </header>
    <button class="button app-sidebar-toggle sticky__item" data-module="Toggle" data-options='{"target": ".app-sidebar"}' aria-label="Menu">
      <span class="navbar__toggler-icon">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </button>

    {% block body %}{% endblock %}

    <footer class="margin-top-auto app-footer">
      <div class="container app-footer__inner">
        {% if resources %}
          <h3 class="app-footer__title">Resources</h3>

          <ul class="nav nav--vertical">
            {% for page in resources %}
              {{ LabNavLink(page, AppParentId, AppCurrentId, loop) }}
            {% endfor %}
          </ul>
        {% endif %}

        <p class="brevier">Currently v{{version}}.</p>

      </div>
    </footer>
    <script src="{{base_url}}{{settings.lab_javascript}}"></script>
  </body>
</html>
