<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" href="{{settings.lab_iframe_stylesheet}}">
    <link rel="stylesheet" href="{{settings.lab_iframe_stylesheet_demo}}">
    <script>
      if (document.documentElement) {
        document
          .documentElement
          .classList
          .add('js');
      }
    </script>
  </head>
  <body class="app-example">
    {% block body %}{% endblock %}
    <script src="{{settings.lab_iframe_javascript}}"></script>
  </body>
</html>
