$container-max-width: $site-max-width !default;
$container-side-padding: $spacer !default;

.container {
  max-width: $container-max-width;
  padding-right: $container-side-padding;
  padding-left: $container-side-padding;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  max-width: 100%;
  padding-right: $container-side-padding;
  padding-left: $container-side-padding;
}
