// Components: Nav Definition

$nav-link-color: $link-color !default;
$nav-link-bg: transparent !default;
$nav-link-trans-speed: 200 !default;
$nav-link-active-color: $nav-link-color !default;
$nav-link-active-bg: transparent !default;
$nav-link-padding: $spacer !default;
$nav-link-font-weight: $font-weight-normal !default;

.nav {
  display: flex;
  width: 100%;
  max-width: 100%;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  list-style: none;
}

.nav--right {
  justify-content: flex-end;
}

.nav--center {
  justify-content: center;
}

.nav--expanded {
  > .nav__item {
    min-width: 0;
    flex: 1 1 0%;
  }
}

.nav__item {
  position: relative;
  flex: 0 0 auto;
  padding: $nav-link-padding;

  &.is-current {
    background-color: $nav-link-active-bg;
    color: $nav-link-active-color;
  }
}

.nav__item--right {
  display: flex;
  margin-left: auto;
}

.nav__item--left {
  display: flex;
  margin-right: auto;
}

.nav__link {
  position: relative;
  display: inline-block;

  &::after {
    position: absolute;
    top: -$nav-link-padding;
    right: -$nav-link-padding;
    bottom: -$nav-link-padding;
    left: -$nav-link-padding;
    content: '';
  }
}
