// Components: Nav Accordion

$accordion-nav-bg: $light !default;
$accordion-nav-border: none !default;

@mixin accordion-nav {
  .is-accordion-nav {
    display: none;
    border: $accordion-nav-border;
    background: $accordion-nav-bg;
  }

  .is-accordion-button {
    // position: absolute;
    // top: 50%;
    // right: 0;
    display: inline-flex;
    height: 100%;
    flex: 0;
    padding: 0;
    margin: 0;
    // transform: translateY(-50%);
  }

  .is-accordion-nav-parent {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    > .nav__link {
      margin-right: $spacer;
    }

    &.is-active {
      > .is-accordion-nav {
        display: flex;
        flex: none;
      }

      > div > .is-accordion-button,
      > .is-accordion-button {
        transform: rotate(-180deg);
      }
    }
  }
}

.nav--accordion {
  @include accordion-nav;
}

.is-accordion-button {
  display: none;
}

@each $key, $value in $breakpoints {
  @include breakpoint($key) {
    .nav--accordion\@#{$key} {
      @include accordion-nav;
    }
  }
}
