// Components: Nav Dropdown

$dropdown-nav-min-width: 200px !default;
$dropdown-nav-bg: $light !default;
$dropdown-nav-border: $dark 1px solid !default;

@mixin dropdown-nav {
  .is-dropdown-nav {
    position: absolute;
    z-index: 1;
    top: 100%;
    right: auto;
    left: 0;
    display: none;
    width: auto;
    min-width: $dropdown-nav-min-width;
    margin: 0;
    border: $dropdown-nav-border;
    background: $dropdown-nav-bg;
  }

  .is-dropdown-button {
    position: absolute;
    top: 50%;
    right: 0;
    display: inline-flex;
    height: 100%;
    flex: 0;
    padding: 0;
    margin: 0;
    transform: translateY(-50%);
  }

  .is-dropdown-nav-parent {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    > div > .nav__link,
    > .nav__link {
      flex: 1 1 auto;
      padding-right: $spacer;
    }

    &.is-active {
      > .is-dropdown-nav {
        display: flex;
        flex: none;
      }

      > div > .is-dropdown-button,
      > .is-dropdown-button {
        transform: translateY(-50%) rotate(-180deg);
      }
    }
  }
}

.nav--dropdown {
  @include dropdown-nav;
}

.is-dropdown-button {
  display: none;
}

@each $key, $value in $breakpoints {
  @include breakpoint($key) {
    .nav--dropdown\@#{$key} {
      @include dropdown-nav;
    }
  }
}
