$heading-margin: ($spacer + $spacer/2) 0 $spacer !default;
$heading-font: $font !default;
$heading-font-weight: $font-weight-bold !default;
$heading-color: inherit !default;
$heading-small-size: 75% !default;

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: $heading-margin;
  color: $heading-color;
  font-family: $heading-font;
  font-weight: $heading-font-weight;

  small {
    font-size: $heading-small-size;
  }
}

h1 {
  @include font-size-xxxl;
}

h2 {
  @include font-size-xxl;
}

h3 {
  @include font-size-xl;
}

h4 {
  @include font-size-lg;
}

h5 {
  @include font-size-md;
}

h6 {
  @include font-size-base;
}
