$link-color: $blue !default;
$link-hover-color: $link-color !default;
$link-visited-color: $link-color !default;

$link-trans-speed: 200 !default;
$link-underline: underline !default;
$link-hover-underline: none !default;
$link-focus-underline: none !default;

a {
  color: $link-color;
  text-decoration: $link-underline;

  &:visited {
    color: $link-visited-color;
  }

  &:hover {
    text-decoration: $link-hover-underline;
  }

  &:focus {
    text-decoration: $link-focus-underline;
  }

  @include color-swap-on-hover(
    $link-color,
    $link-hover-color,
    $link-trans-speed
  );
}
