// Utilities: Visibility

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden !important;
}

.visible {
  visibility: visible !important;
}

// screen readers only
.sr-only {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

// allows keyboard focus when tabbed to when used in conjunction with .srOnly. (Could be used for skip-links)
.sr-only--focusable:active,
.sr-only--focusable:focus {
  position: static;
  overflow: visible;
  width: auto;
  height: auto;
  margin: 0;
  clip: auto;
}

// Print visibility class
.print-only {
  display: none !important;
}
