// Components: Menu Vertical

.c-menu--vertical {
    flex-wrap: wrap;

    .c-menu__item {
        max-width: 100%;
        flex: 0 0 100%;
        text-align: left;
    }

    .c-menu__link {
        align-items: flex-start;
        justify-content: flex-start;
        text-align: inherit;
    }

    &.c-menu--right {
        .c-menu__item,
        .c-menu__item--left {
            text-align: right;
        }
    }

    &.c-menu--center .c-menu__item {
        text-align: center;
    }
}

.c-menu--nested {
    margin-left: $spacer;
}
