{% macro LabNavLink(model, categoryId, currentPageId, loop, level) %}
  {% if model.id == categoryId %}
    {% set activeClass = " is-active" %}
  {% endif %}

  {% if model.id == currentPageId %}
    {% set activeClass = " is-active" %}
  {% endif %}

  {% if level == 'level-1' %}
    {% set level = " nav__item-level-1" %}
  {% endif %}

  {% if model.children %}
    {% set parent = " nav__item-parent" %}
  {% endif %}

  <li class="nav__item{{model.classes}}{{level}}{{parent}}{{activeClass}}">
    <a class="nav__link" href="{{model.url}}">{{model.title}}</a>
    {% if model.children %}
      <ul class="nav nav--vertical nav--nested">
        {% for page in model.children %}
          {{ LabNavLink(page, currentPageId, loop) }}
        {% endfor %}
    </ul>
  {% endif %}
</li>
{% endmacro %}
