// Components: Pagination

$pagination-link-padding: $spacer / 2 !default;
$pagination-link-border-width: 1px !default;
$pagination-link-border: $pagination-link-border-width solid $medium !default;
$pagination-active-bg: $medium !default;
$pagination-disabled-color: $medium !default;

.c-pagination {
  display: flex;
  margin: 0;
  list-style: none;
}

.c-pagination__link {
  padding: $pagination-link-padding;
  margin-left: -$pagination-link-border-width;
  border: $pagination-link-border;

  .is-active & {
    background: $pagination-active-bg;
  }

  .is-disabled & {
    color: $pagination-disabled-color;
  }
}
