// Utilities: Text align

.u-text-align-left {
    text-align: left !important;
}

.u-text-align-center {
    text-align: center !important;
}

.u-text-align-right {
    text-align: right !important;
}

.u-text-align-justify {
    text-align: justify !important;
}

@each $key, $value in $breakpoints {
    @include breakpoint($key) {
        .u-text-align-left\@#{$key} {
            text-align: left !important;
        }

        .u-text-align-center\@#{$key} {
            text-align: center !important;
        }

        .u-text-align-right\@#{$key} {
            text-align: right !important;
        }

        .u-text-align-justify\@#{$key} {
            text-align: justify !important;
        }
    }
}
