.app-code {
  position: relative;
  margin-bottom: $spacer * 2;
  background-color: $gallery;

  pre {
    margin: 0;

    code {
      padding-top: ($spacer + $spacer / 2);
      background-color: transparent;
    }
  }
}

.app-copy-button {
  position: absolute;
  top: 0;
  right: 2px;
}
